<app-workspace-nav>
    <app-viajes-nav></app-viajes-nav>
</app-workspace-nav>

<div class='workspace'>
	<div class='main'>
            <div class='menu'>
                <button class='iigwo' (click)='cancel()' style="background: none;margin-right: 24px;margin-left: -12px;">
                    <mat-icon svgIcon="arrow-back"></mat-icon>
                </button>
                <label class='home'>Número de solicitud {{solicitud.numeroSolicitud}}</label>

                <button class='iigwo' (click)='obtenerSolicitud()'>
                    <mat-icon svgIcon="refresh"></mat-icon>
                    <label i18n="@@Refrescar">Refrescar</label>
                </button>
                <button class='iigwo'  (click)="aprobarViaje()">
                    <mat-icon svgIcon="airplane"></mat-icon>
                    <label>Aprobar solicitud</label>
                </button>
                <button class='iigwo' (click)="rechazarViaje()">
                    <mat-icon svgIcon="close"></mat-icon>
                    <label>Rechazar solicitud</label>
                </button>
                <button class='iigwo' (click)='descargaFactura()'>
                    <mat-icon svgIcon="file-download"></mat-icon>
                    <label>Mostrar PDF </label>
                </button>
                    
                <!-- ADVERTENCIAS -->
                <div class="dropdown" *ngIf='solicitud'>
                    <button class='iigwo'>
                        <mat-icon svgIcon="alert"></mat-icon>
                        <label i18n="@@Refrescar">Advertencias<span class="badge">{{contadorAlertas}}</span></label>
                    </button>
                    <div class="dropdown-content" style="right: 0;">
                        <div *ngFor='let a of alertas' class="alert {{a.tipo}}">
                            <strong>{{a.titulo}}</strong><p>{{a.mensaje}}</p>
                        </div>
                    </div>
                </div>

            </div>
            
        <div class='content'> 
            <div style="display:flex; flex-flow: row">
                <div style="min-width:320px;margin-right:24px;margin-bottom: 10px;">

                        <div style="float: left;"> 
                            <div class="iigwo-input " >
                                <label>Número de solicitud</label>
                                <div >
                                    <input [(ngModel)]="solicitud.numeroSolicitud" readonly="true" >
                                </div>
                            </div>
                        
                            <div class="iigwo-input">
                                <label>Motivo</label>
                                <div >
                                    <input [(ngModel)]="solicitud.motivo" readonly='true' >
                                </div>
                            </div>

                            <div class="iigwo-input">
                                <label>Empresa</label>
                                <div >
                                    <input [(ngModel)]="solicitud.empresa" readonly="true" >
                                </div>
                            </div>

                            <div class="iigwo-input">
                                <label>Fecha inicio</label>
                                <div >
                                    <input [(ngModel)]="solicitud.fechaInicio" readonly="true" >
                                </div>
                            </div>

                        </div>
                        <div style="float: right; margin-left: 100px;">


                            <div class="iigwo-input">
                                <label>Empleado</label>
                                <div >
                                    <input [(ngModel)]="solicitud.nombreCompletoUsuario" readonly="true" >
                                </div>
                            </div>
           
                           <div class="iigwo-input">
                                <label>Departamento</label>
                                <div >
                                    <input [(ngModel)]="solicitud.departamento.descripcion" readonly="true" >
                                </div>
                            </div>

                            <div class="iigwo-input">
                                <label>Fecha fin</label>
                                <div >
                                    <input [(ngModel)]="solicitud.fechaFin" readonly="true" >
                                </div>
                            </div>

                            <div >
                                <label>Monto</label>
                                <div class="iigwo-input">
                                    <input readonly="true"  [ngModel]="(solicitud.totalAnticipo | currency : 'MXN' : 'symbol' : undefined : 'es-Mx') ">
                                </div>
                            </div>
                        </div>
                </div>
            </div>

            <!-- BITACORA DE EVENTOS-->
            <div style="display:flex; flex-flow: row;">
                <app-bitacora [numeroSolicitud]="solicitud.numeroSolicitud"></app-bitacora>
            </div>
            
        </div>
    </div>
    <!--Cargando-->
    <div class='iigwo-loading' *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
</div>
