<app-workspace-nav>
    <app-general-nav></app-general-nav>
</app-workspace-nav>
<div class='workspace'>
	<div class='main'>
		<div class='menu'>
			<button class='iigwo' (click)='cancel()' style="background: none;margin-right: 24px;margin-left: -12px;">
                <mat-icon svgIcon="arrow-back"></mat-icon>
            </button>
			<label class='home' *ngIf="codigo != 'nueva-empresa'" style="
				max-width: 70%;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;">
				Empresa {{empresa.codigo_empresa}}</label>
			<label class='home' *ngIf="codigo == 'nueva-empresa'">Nueva empresa</label>

			<div *ngIf="codigo != 'nueva-empresa'">
				<button class='iigwo' (click)='refresh()'>
					<mat-icon svgIcon="refresh"></mat-icon>
					<label i18n="@@Refrescar">Refrescar</label>
				</button>

				<button class='iigwo' (click)='eliminar()'>
					<mat-icon svgIcon="delete"></mat-icon>
					<label>Eliminar</label>
				</button>
			</div>

		</div>
		<div class='content'>
			<div class="iigwo-input">
				<label>Código</label>
				<div class="wrapper">
					<input [(ngModel)]="empresa.codigo_empresa" type="text" maxlength="45">
				</div>
			</div>

			<div class="iigwo-input">
				<label>Empresa</label>
				<select [(ngModel)]="empresa.empresa" >
                    <option *ngFor="let org of organizacion" [value]="org.rfc">{{org.nombre}}</option> 
                </select>
			</div>

			<div class="iigwo-input">
				<label>Sistema</label>
				<!-- <input type="text" [(ngModel)]="empresa.sistema" maxlength="45"> -->
				<select [(ngModel)]="empresa.sistema" >
                    <option value="FOX">FOX</option>
                    <option value="SYS21">SYS21</option>
                    <option value="SAPB1">SAPB1</option>
                </select>
			</div>

			<div *ngIf="empresa.sistema == 'FOX' || empresa.sistema == 'SYS21'">
				<h4 style='margin-bottom:12px;'>Datos de conexión {{empresa.sistema}}</h4>

				<div class="iigwo-input" >
					<label>Base de Datos</label>
					<input type="text" [(ngModel)]="empresa.baseDeDatos" maxlength="100">
				</div>
			</div>

			<div *ngIf="empresa.sistema == 'SAPB1'">
				<h4 style='margin-bottom:12px;'>Datos de conexión Sap Business One</h4>
			
				<div class="iigwo-input">
					<label>Conexion Master</label>
					<select [(ngModel)]="empresa.division" >
						<option *ngFor="let div of division" [value]="div.codigo">{{div.descripcion}}</option> 
					</select>
				</div>

				<div class="iigwo-input">
					<label>Conexion Empresa</label>
					<!-- <input type="text" [(ngModel)]="empresa.baseDeDatos" disabled (click)='abrirVentanaConexionSAP()'> -->
					<p style="color: black;
					padding: 3.5px 6px;
					border: solid 1px rgba(0, 0, 0, 0.2);
					font-size: 13px;
					border-radius: 1px;
					width: 100%;
					max-width: 320px;
					font-family: regular;
					box-sizing: border-box;
					height: 24px;
					background-color: rgba(239, 239, 239, 0.3);" (click)='abrirVentanaConexionSAP()'>{{companyBDSAP}}</p>
				</div>
			</div>
			

			<hr style="margin:  24px 0;">

			<button *ngIf="codigo !== 'nueva-empresa'" class='accent iigwo' (click)='guardar()'>
						<label>Guardar</label>
			</button>
			<button *ngIf="codigo === 'nueva-empresa'" class='accent iigwo' (click)='crear()'>
						<label>Crear</label>
			</button>
			<button class='iigwo' (click)='cancel()'>
                    <label i18n="@@Cancelar">Cancelar</label>
            </button>


		</div>


		<!-- MENSAJE ERROR-->
		<div *ngIf="msjerrorTV" class='iigwo-dialog-background'>
			<div class='iigwo-dialog'>
				<h3>{{respuestaTV}}</h3>
				<p>{{msjTV}}</p>
				<!---->
				<button class='iigwo accent' (click)='msjerrorTV = false'><label>Aceptar</label></button>
			</div>
		</div>

		<!-- MENSAJE CARGANDO-->
		<div class='iigwo-loading' *ngIf="cargandoTV">
			<mat-spinner></mat-spinner>
		</div>

		
	</div>
</div>