<app-workspace-nav>
	<app-viajes-nav></app-viajes-nav>
</app-workspace-nav>

<div class='workspace'>
	<div class='main'>
		<div class='menu'>
			<label class='home'>Clases de gasto</label>

			<button class='iigwo'>
            	<mat-icon svgIcon="add-box"></mat-icon>
            	<label routerLink="/administracion/viajes/clases-gasto/nuevo">Crear</label>
        </button>

			<button class='iigwo' (click)='refrescar()'>
            <mat-icon svgIcon="refresh"></mat-icon>
            <label i18n="@@Refrescar">Refrescar</label>
        </button>

		</div>
		<div class='content'>
			<div style="display: flex;">
				<!-- FILTRO AREA-->
				<div style="margin-bottom: 20px;">
					<h5 style="margin: 0 0 3px 0;">Áreas</h5>
					<div class="iigwo-input inline">
						<select [(ngModel)]="idarea" (ngModelChange)="filtro()">
						<option value="-3">Selecciona una área</option>
						<option *ngFor="let a of areas" value="{{a.idarea}}">{{a.descripcion}}</option>
					</select>
					</div>
				</div>
				<!-- FILTRO TIPOS CLASES-->
				<div style="margin-bottom: 20px;" *ngIf="idarea != -3 && tiposGasto.length != 0">
					<h5 style="margin: 0 0 3px 0;">Tipo Clases de Gasto</h5>
					<div class="iigwo-input inline">
						<select [(ngModel)]="idtcg" (ngModelChange)="refrescar()">
						<option value="-3">Selecciona un tipo de gasto</option>
						<option *ngFor="let cg of tiposGasto" value="{{cg.id}}">{{cg.descripcion}}</option>
					</select>
					</div>
				</div>
			</div>
			<hr style="margin-bottom:0;">
			<table class='big' *ngIf="clasesGasto.length != 0 && idtcg != -3">
				<tr>
					<!--	<th class=''><input type="checkbox"></th>-->
					<th class='' i18n="@@Id">Id</th>
					<th class=''>Descripción</th>
					<th class='number'>Activo</th>
					<th class="">Area</th>
					<th class="">Tipo Clase de Gasto</th>
				</tr>
				<tr *ngFor='let cg of clasesGasto'>
					<td class=''><a routerLink="/administracion/viajes/clases-gasto/{{cg.id}}">{{cg.id}}</a></td>
					<td class=''><a routerLink="/administracion/viajes/clases-gasto/{{cg.id}}">{{cg.descripcion}}</a></td>
					<td>{{cg.activo == true ? 'Activo' : 'Inactivo'}}</td>
					<td>{{cg.tipo_gasto.areaBean.descripcion}}</td>
					<td>{{cg.tipo_gasto.descripcion}}</td>
				</tr>
			</table>
			<!--Cargando-->
			<div class='iigwo-loading' *ngIf="cargando">
				<mat-spinner></mat-spinner>
			</div>
			<!-- MENSAJE DE NO HAY REGISTROS -->
			<div *ngIf="clasesGasto.length == 0 && idtcg !=-3">
				<h3 style="margin:12px 0 6px 0">Sin resultados</h3>
				<p style="max-width:396px;">No hay registros dentro del criterio de búsqueda.</p>
			</div>
			<!-- MENSAJE DE SELECCION AREA-->
			<div *ngIf="idtcg == -3 && idarea == -3">
				<h3 style="margin:12px 0 6px 0">Selecciona una área.</h3>
				<p style="max-width:396px;">Para comenzar la búsqueda, debes seleccionar una área.</p>
			</div>
			<!-- MENSAJE DE SELECCION TIPOS DE GASTOS-->
			<div *ngIf="idtcg == -3 && idarea != -3">
				<h3 style="margin:12px 0 6px 0">Selecciona una Tipo de clase de Gasto.</h3>
				<p style="max-width:396px;">Para continuar la búsqueda, debes seleccionar un Tipo de clase de Gasto.</p>
			</div>

			<p style="margin-top: -6px; margin-bottom: 18px; font-size: 11px;">
                <span i18n="@@siNecesitaAyudaPuedeLeerEl">Si necesita ayuda puede leer el
                </span>
                <a target="_blank" [href]='utilService.rutaDeManual("ManualAdministracionViajes")' i18n="@@manualAdministracionViajes">manual de Administración de Viajes</a>
            </p>
		</div>
	</div>
</div>