<app-workspace-nav>
    <app-general-nav></app-general-nav>
</app-workspace-nav>
<div class='workspace'>
    <div class='main'>
        <div class='menu'>

            <button class='iigwo' (click)='cancelar()' style="background: none;margin-right: 24px;margin-left: -12px;">
                <mat-icon svgIcon="arrow-back"></mat-icon>
            </button>

            <label class='home'>Carga masiva de usuarios</label>

            <button class='iigwo' (click)='descargarLayoutDeEjemplo()'>
                <mat-icon svgIcon="file-download"></mat-icon>
                <label>Descargar layout de ejemplo</label>
            </button>

        </div>
        <div class='content'>


            <!-- input type="file" accept=".xls,.xlsx" />-->

            <h4 style="margin: 0 0 6px 0">Cargar layout</h4>
            <p style="margin: 0 0 12px 0">Antes de cargar el layout (el archivo que contiene todos los usuarios a
                cargarse en el portal) asegurate de que es la
                ultima versión del layout, cargar una versión anterior del layout resultaría en una base de datos
                corrompida o incorrecta</p>
            <button class="iigwo" (click)="subiendoLayout=true" *ngIf="subiendoLayout==false">
                <label>Cargar layout</label>
            </button>
            <div *ngIf="subiendoLayout==true" class='iigwo-panel'>
                <div class="iigwo-input">
                    <label style="margin-bottom: 8px;">Archivo layout</label>
                    <label for='layout-upload' [class]='clasebutton' tabindex="0">
                        <span *ngIf="file==null" i18n="@@contelec.select">Seleccionar</span>
                        <span *ngIf="file!=null" i18n="@@contelec.selected">Seleccionado</span>
                    </label>
                    <label style="display: inline-block; line-height: 32px; font-size: 13px; color:rgba(0,0,0,0.5);"
                        *ngIf="file==null" i18n="@@contelec.noFileSelected">No hay archivo seleccionado</label>
                    <label style="display: inline-block; line-height: 32px; font-size: 13px;"
                        *ngIf="file!=null">{{file.name}}</label>
                    <input style='display:none;' id='layout-upload' type="file"
                        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                        (change)="fileChangeEvent($event)">
                </div>
                <p style="margin-top: -8px; margin-bottom: 18px; font-size: 11px;">{{archivotext}}</p>
                <hr style="margin-top: -6px;">
                <button class="iigwo accent" (click)="test()" *ngIf='file!=null'>
                    <label>Cargar layout</label>
                </button>
                <button class="iigwo" (click)="subiendoLayout=false;file=null;actualizarTexto();">
                    <label i18n="@@Cancelar">Cancelar</label>
                </button>
            </div>

        </div>
    </div>

    <!-- MENSAJE -->
    <div *ngIf="mostrarMensaje" class='iigwo-dialog-background'>
        <div class='iigwo-dialog'>
            <h3>{{tituloMensaje}}</h3>
            <p>{{textoMensaje}}</p>
            <button class='iigwo accent' (click)='mostrarMensaje=false'
                *ngIf="confirmar==null"><label>Aceptar</label></button>
            <button class='iigwo accent' (click)='confirmar()' *ngIf="confirmar!=null"><label>Aceptar</label></button>
            <!--
				--><button class='iigwo' (click)='mostrarMensaje=false' *ngIf="confirmar!=null"><label i18n="@@Cancelar">Cancelar</label></button>
        </div>
    </div>

    <!-- CARGANDO -->
    <div class='iigwo-loading' *ngIf="cargando">
        <mat-spinner></mat-spinner>
    </div>

</div>