<app-workspace-nav>
    <app-caja-chica-nav></app-caja-chica-nav>
</app-workspace-nav>
<div class='workspace'>
    <div class='main'>

        <app-experimental-menu backButtonEnabled="true" [moreButtonVisible]="idgastocaja != 'nuevo-gasto'">

            <label title><span i18n="@@Gasto caja">Gasto caja</span> {{gastocaja.operacion}}</label>

            <button (click)='refresh()' *ngIf="idgastocaja != 'nuevo-gasto'">
                <mat-icon svgIcon="refresh"></mat-icon>
                <label i18n="@@Refrescar">Refrescar</label>
            </button>

            <button (click)='eliminar()' *ngIf="idgastocaja != 'nuevo-gasto'">
                <mat-icon svgIcon="delete"></mat-icon>
                <label i18n="@@Eliminar">Eliminar</label>
            </button>
        </app-experimental-menu>

        <div class='content'>
            <div class="iigwo-input">
                <label i18n="@@No. Operación">No. Operación</label>
                <input *ngIf="idgastocaja != 'nuevo-gasto'" #description [(ngModel)]="gastocaja.operacion" readOnly
                    maxlength="3">
                <input *ngIf="idgastocaja == 'nuevo-gasto'" #description [(ngModel)]="gastocaja.operacion"
                    maxlength="3">

            </div>
            <div class="iigwo-input">
                <label i18n="@@Descripción">Descripción</label>
                <input #description [(ngModel)]="gastocaja.descripcionGasto" maxlength="40">
            </div>
            <div class="iigwo-input">
                <label i18n="@@Cuenta de mayor">Cuenta de mayor</label>
                <input #description [(ngModel)]="gastocaja.cuentaDeMayor" maxlength="10">
            </div>

            <div class="iigwo-input">
                <label i18n="@@Activado para visualización">Activado para visualización</label>
                <label class="switch">
                    <input [(ngModel)]="gastocaja.activo" type="checkbox">
                    <div class="slider"></div>
                </label>
            </div>
            <div class="iigwo-input">
                <label i18n="@@Deducible de impuestos">Deducible de impuestos</label>
                <label class="switch">
                    <input [(ngModel)]="gastocaja.deducibleImpuestos" type="checkbox">
                    <div class="slider"></div>
                </label>
            </div>

            <h4 style='margin-bottom:12px;' i18n="@@Sociedades">Sociedades</h4>

            <div class='iigwo-item' *ngFor="let s of gastocaja.sociedades">
                <select [(ngModel)]="s.soc">
                    <option *ngFor="let soc of sociedades" [ngValue]="soc.sociedad">{{soc.sociedad}}</option>
                </select>
                <div class='iigwo-item-buttons'>
                    <button class='iigwo small'>
                        <mat-icon svgIcon="delete" (click)="botonQuit(s)"></mat-icon>
                    </button>
                </div>
            </div>
            <button #activeComponent class="iigwo" (click)="botonSoc()" style="margin-top: 12px;">
                <label i18n="@@Agregar sociedades">Agregar sociedad</label>
            </button>

            <hr>

            <h4 i18n="@@Tipo de Cuenta">Tipo de Cuenta</h4>

            <div class="iigwo-input">
                <label i18n="@@Centro de costos">Centro de costos</label>
                <label class="switch">
                    <input [(ngModel)]="gastocaja.centroCosto" type="checkbox">
                    <div class="slider"></div>
                </label>
            </div>

            <div class="iigwo-input">
                <label i18n="@@Elemento PEP">Elemento PEP</label>
                <label class="switch">
                    <input [(ngModel)]="gastocaja.pep" type="checkbox">
                    <div class="slider"></div>
                </label>
            </div>

            <div class="iigwo-input">
                <label i18n="@@Grafo">Grafo</label>
                <label class="switch">
                    <input [(ngModel)]="gastocaja.grafo" type="checkbox">
                    <div class="slider"></div>
                </label>
            </div>

            <hr>

            <h4 i18n="@@Impuestos">Impuestos</h4>

            <div class="iigwo-input">
                <label>IVA</label>
                <label class="switch">
                    <input [(ngModel)]="ivaB" type="checkbox" (ngModelChange)="countIVA()">
                    <div class="slider"></div>
                </label>
            </div>
            <div *ngIf="ivaB" class='iigwo-panel'>
                <div class="iigwo-input-gasto">
                    <label i18n="@@Indicador IVA">Indicador IVA</label>
                    <input [(ngModel)]="gastocaja.indicadorIva" maxlength="2">
                </div>
            </div>

            <div class="iigwo-input">
                <label i18n="@@Otras gastos">Otros gastos</label>
                <label class="switch">
                    <input [(ngModel)]="isrB" type="checkbox" (ngModelChange)="countISR()">
                    <div class="slider"></div>
                </label>
            </div>
            <div *ngIf="isrB" class='iigwo-panel'>
                <div class="iigwo-input-gasto">
                    <div class="iigwo-input">
                        <label i18n="@@Cuenta contable">Cuenta contable</label>
                        <input [(ngModel)]="gastocaja.cuentaContableISR" maxlength="10">
                    </div>
                    <div class="iigwo-input">
                        <label i18n="@@Indicador otros gastos">Indicador otros gastos</label>
                        <input [(ngModel)]="gastocaja.indicadorIsr" maxlength="2">
                    </div>
                </div>
            </div>

            <div class="iigwo-input">
                <label>ISH</label>
                <label class="switch">
                    <input [(ngModel)]="ishB" type="checkbox" (ngModelChange)="countISH()">
                    <div class="slider"></div>
                </label>
            </div>
            <div *ngIf="ishB" class='iigwo-panel'>
                <div class="iigwo-input-gasto">
                    <div class="iigwo-input">
                        <label i18n="@@Cuenta contable">Cuenta contable</label>
                        <input [(ngModel)]="gastocaja.cuentaContableISH" maxlength="10">
                    </div>
                    <div class="iigwo-input">
                        <label i18n="@@Indicador ISH">Indicador ISH</label>
                        <input [(ngModel)]="gastocaja.indicadorIsh" maxlength="2">
                    </div>
                </div>
            </div>

            <div class="iigwo-input">
                <label>TUA</label>
                <label class="switch">
                    <input [(ngModel)]="tuaB" type="checkbox" (ngModelChange)="countTUA()">
                    <div class="slider"></div>
                </label>
            </div>
            <div *ngIf="tuaB" class='iigwo-panel'>
                <div class="iigwo-input-gasto">
                    <div class="iigwo-input">
                        <label i18n="@@Cuenta contable">Cuenta contable</label>
                        <input [(ngModel)]="gastocaja.cuentaContableTUA" maxlength="10">
                    </div>
                    <div class="iigwo-input">
                        <label i18n="@@Indicador TUA">Indicador TUA</label>
                        <input [(ngModel)]="gastocaja.indicadorTua" maxlength="2">
                    </div>
                </div>
            </div>

            <div class="iigwo-input">
                <label>IEPS</label>
                <label class="switch">
                    <input [(ngModel)]="iepsB" type="checkbox" (ngModelChange)="countIEPS()">
                    <div class="slider"></div>
                </label>
            </div>
            <div *ngIf="iepsB" class='iigwo-panel'>
                <div class="iigwo-input-gasto">
                    <div class="iigwo-input">
                        <label i18n="@@Cuenta contable">Cuenta contable</label>
                        <input [(ngModel)]="gastocaja.cuentaContableIEPS" maxlength="10">
                    </div>
                    <div class="iigwo-input">
                        <label i18n="@@Indicador IEPS">Indicador IEPS</label>
                        <input [(ngModel)]="gastocaja.indicadorIeps" maxlength="2">
                    </div>
                </div>
            </div>



            <hr style="margin:  24px 0;">

            <button *ngIf="idgastocaja != 'nuevo-gasto'" class='accent iigwo' (click)='guardar()'>
                <label i18n="@@Guardar">Guardar</label>
            </button>
            <button *ngIf="idgastocaja == 'nuevo-gasto'" class='accent iigwo' (click)='crear()'>
                <label i18n="@@Crear">Crear</label>
            </button>
            <button class='iigwo' (click)='cancel()'>
                <label i18n="@@Cancelar">Cancelar</label>
            </button>
        </div>
        <!--MENSAJE ELIMINAR-->
        <div *ngIf="msjeliminarGC" class='iigwo-dialog-background'>
            <div class="iigwo-dialog">
                <h3 i18n="@@gastocaja-crud-1">Eliminar gasto caja</h3>
                <p i18n="@@gastocaja-crud-2">Estás a punto de borrar la caja, esta operación es irreversible ¿Estás
                    seguro
                    que
                    deseas eliminar?</p>
                <button class="iigwo accent" (click)="deleteConfirmGC()">
                    <label i18n="@@gastocaja-crud-3">Eliminar la caja chica</label>
                </button>
                <button class="iigwo" (click)="msjeliminarGC = false">
                    <label i18n="@@Cancelar">Cancelar</label>
                </button>
            </div>
        </div>
        <!-- MENSAJE ERROR-->
        <div *ngIf="msjerrorGC" class='iigwo-dialog-background'>
            <div class='iigwo-dialog'>
                <h3>{{respuestaGC}}</h3>
                <p>{{msjGC}}</p>
                <!---->
                <button class='iigwo accent' (click)='msjerrorGC = false'><label
                        i18n="@@Aceptar">Aceptar</label></button>
            </div>
        </div>
        <!-- MENSAJE CARGANDO-->
        <div class='iigwo-loading' *ngIf="cargandoGC">
            <mat-spinner></mat-spinner>
        </div>
    </div>
</div>