.configPanel {
    position: absolute;
    top: 0;
    margin: auto;
    width: 305px;
    transition: 0.5s;
    border-left: solid 1px rgba(0,0,0,0.2);
    padding-left: 24px;
    right: calc(100% - 305px);
    background: white;
    z-index: 5;
}

.configPanel2 {
    position: absolute;
    top: 0;
    margin: auto;
    width: 305px;
    transition: 0.5s;
    border-left: solid 1px rgba(0,0,0,0.2);
    padding-left: 50px;
    right: 0;
    background: white;
    z-index: 5;
}

.configPanel.withResults {
    right: 0;
}

.results {
    position: absolute;
    left: 0;
    right: calc(305px + 36px);
    overflow: auto;
}

td {
    line-break: loose;
        white-space: nowrap;
}

.bajar
{
    margin-top: 70px;
}