<app-workspace-nav>
    <app-general-nav></app-general-nav>
</app-workspace-nav>
<div class='workspace'>

    <!-- MAIN -->
    <div class='main'>
        <div class='menu'>

            <button class='iigwo' (click)='cancelar()' style="background: none;margin-right: 24px;margin-left: -12px;">
                <mat-icon svgIcon="arrow-back"></mat-icon>
            </button>

            <label class='home'>
                <span *ngIf="creando" i18n="@@Nuevo usuario">Nuevo usuario</span>
                <span *ngIf="!creando">{{usuario.nombre}}</span>
            </label>

            <button class='iigwo' (click)='refrescar()' [disabled]="false" *ngIf="!creando">
                <mat-icon svgIcon="refresh"></mat-icon>
                <label i18n="@@Refrescar">Refrescar</label>
            </button>

            <button class='iigwo' (click)='agregarSociedadAuxiliar()' *ngIf="!creando">
                <mat-icon svgIcon="add"></mat-icon>
                <label i18n="@@Agregar sociedad auxiliar">Agregar sociedad auxiliar</label>
            </button>

            <button class='iigwo' (click)='eliminar()' *ngIf="!creando">
                <mat-icon svgIcon="delete"></mat-icon>
                <label i18n="@@Eliminar">Eliminar</label>
            </button>

        </div>
        <div class='content'>

            <div class="iigwo-input">
                <label i18n="@@usuarios.Id">Id</label>
                <input [(ngModel)]="usuario.id" [readOnly]="!creando">
            </div>

           <!-- <div class="iigwo-input">
                <label i18n="@@usuarios.Sociedad">Sociedad</label>
                <select [(ngModel)]="usuario.sociedad">
                    <option *ngFor="let s of sociedades" [ngValue]="s.sociedad">{{s.sociedad}}</option>
                </select>
            </div>-->

            <div class="iigwo-input">
                <label i18n="@@usuarios.Rol">Rol</label>
                <select [(ngModel)]="usuario.rol">
                    <option *ngFor="let r of roles" [ngValue]="r">{{r.nombre}}</option>
                </select>
            </div>

            <div class="iigwo-input">
                <label i18n="@@usuarios.Usuario">Usuario</label>
                <input [(ngModel)]="usuario.usuario">
            </div>

            <div class="iigwo-input">
                <label i18n="@@usuarios.Contraseña">Contraseña</label>
                <input [(ngModel)]="usuario.password">
            </div>

            <div class="iigwo-input">
                <label i18n="@@usuarios.Nombre">Nombre</label>
                <input [(ngModel)]="usuario.nombre">
            </div>

            <div class="iigwo-input">
                <label i18n="@@usuarios.RFC">RFC</label>
                <input [(ngModel)]="usuario.rfc">
            </div>

            <div class="iigwo-input">
                <label i18n="@@usuarios.Email">Email</label>
                <input [(ngModel)]="usuario.email">
            </div>

            <!--<div class="iigwo-input" *ngIf="!esProveedor()">
                <label i18n="@@usuarios.Área">Área</label>
                <select [(ngModel)]="usuario.area">
                    <option *ngFor="let a of areas" [ngValue]="a">{{a.descripcion}}</option>
                </select>
            </div>

            <div class="iigwo-input" *ngIf="!esProveedor()">
                <label i18n="@@usuarios.Centro de costo">Centro de costo</label>
                <input [(ngModel)]="usuario.centro_costo">
            </div>-->

            <!-- PERMISOS -->
           <!--<div class="">
                <h5 style="margin: 24px 0 3px 0;" i18n="@@Permisos">Permisos</h5>
                <p style="margin: 0 0 12px 0;font-size:11px;"
                    i18n="@@Asigne los permisos para dar acceso a pantallas etc">Asigne los permisos para dar acceso a
                    pantallas y
                    operaciones</p>
                <div class="iigwo-input" *ngFor="let p of permisos" style="margin:0;">
                    <input type="checkbox"
                        style="width: 15px;display: inline-block;line-height: 18px;margin: 0 6px 0 0;"
                        [checked]="estaSeleccionado(p)" (change)="check($event, p)" *ngIf="esPermisoDeRol(p)">
                    <label
                        style="display: inline-block;line-height: 18px;margin: 0;font-size: 12px;color: rgba(0,0,0,0.85);"
                        *ngIf="esPermisoDeRol(p)">{{p.nombre}}</label>
                </div>
            </div>-->

            <!-- SOCIEDADES AUXILIARES -->
            <!--<div class="" *ngIf="!creando">
                <h5 style="margin: 24px 0 3px 0;" i18n="@@Sociedades auxiliares">Sociedades auxiliares</h5>
                <p style="margin: 0 0 12px 0;font-size:11px;" i18n="@@Sociedades auxiliares descripción">Ademas de la
                    sociedad principal, un usuario puede tener
                    varias sociiedades auxiliares</p>

                <table class='big' *ngIf="usuario.sociedadesAuxiliares && usuario.sociedadesAuxiliares.length">
                    <tr>
                        <th class='' i18n="@@Sociedad">Sociedad</th>
                        <th class='' i18n="@@Rfc">Rfc</th>
                    </tr>
                    <tr *ngFor='let e of usuario.sociedadesAuxiliares'>
                        <td class='accent'>{{e.soc}}</td>
                        <td class='accent'>{{e.rfc}}</td>
                    </tr>
                </table>

                <p *ngIf="!(usuario.sociedadesAuxiliares && usuario.sociedadesAuxiliares.length)"
                    i18n="@@usuario - El usuario no tiene sociedades auxiliares, para...">
                    El usuario no tiene sociedades auxiliares, para agregar una sociedad auxiliar presione el botón de
                    la barra de herramientas <b>Agregar sociedad auxiliar</b>
                </p>
                
            </div>

            <hr style="margin:24px 0;">

            <button class='iigwo accent' (click)='creando ? crear() : guardar()'>
                <label>
                    <span *ngIf="creando" i18n="@@Crear">Crear</span>
                    <span *ngIf="!creando" i18n="@@Guardar">Guardar</span>
                </label>
            </button>
            <button class='iigwo' (click)='cancelar()'><label i18n="@@Cancelar">Cancelar</label></button>
        -->
        </div>

        <!-- CARGANDO -->
        <div class='iigwo-loading' *ngIf="cargando">
            <mat-spinner></mat-spinner>
        </div>

        <!-- MENSAJE DEFAULT -->
        <div *ngIf="mostrarMensaje" class='iigwo-dialog-background'>
            <div class='iigwo-dialog'>
                <h3>{{tituloMensaje}}</h3>
                <p>{{textoMensaje}}</p>
                <button class='iigwo accent' (click)='mostrarMensaje=false'
                    *ngIf="!borrando"><label i18n="@@Aceptar">Aceptar</label></button>
                <button class='iigwo accent' (click)='confirmarEliminar()'
                    *ngIf="borrando"><label i18n="@@Eliminar">Eliminar</label></button>
                <!--
				--><button class='iigwo' (click)='mostrarMensaje=false' *ngIf="borrando"><label  i18n="@@Cancelar">Cancelar</label></button>
            </div>
        </div>

    </div>
</div>