@import '../../../theme.scss';

.entrada-de-mercancia {
    transition: 0.125s;
}

.selectedOc {
    background: mat-color($app-accent);
    color: white;
}
.selectedOc label[name='docmat'] {
    color: white;
}

table {
    overflow-x: auto;
}

td {
    white-space: pre;
    cursor: pointer;
    transition: 0.125s;
}

tr.selectedRow td {
    background: mat-color($app-accent);
    color:white;
}

.local.entrada-de-mercancia { height: 90px; }

.em-docmat-label        { font-size: 10px; top: 8px; left: 8px; opacity: 0.8; }
.em-num_doc_ref         { font-size: 16px; top: 27px; left: 8px; }
.em-num_doc_material    { font-size: 11px; top: 48px; left: 8px; opacity: 0.8; }

.em-fecha_cont          { font-size: 10px; top: 8px; right: 9px; opacity: 0.8; }
.em-importe             { font-size: 16px; top: 27px; right: 9px; }
.em-cantidad-unidad     { font-size: 11px; top: 48px; right: 9px; opacity: 0.8; }

.em-texto_breve         { font-size: 12px; top: 68px; left: 8px; opacity: 0.8; font-weight: 600; }