<app-workspace-nav>
    <app-proveedores-nav></app-proveedores-nav>
</app-workspace-nav>
<div class='workspace'>
    <div class='main'>

        <app-experimental-menu titulo="Carga de facturas con entradas de mercancía"
            i18n-titulo="@@proveedores.em.titulo">

            <button class='accent' (click)='abrirVentanaDeSeleccionDeFacturas()' [disabled]="!estaAlgunoSeleccionado()">
                <mat-icon svgIcon="file-upload"></mat-icon>
                <label i18n="@@contelec.enviar">Enviar</label>
            </button>

            <button (click)='checkAll(null)' [disabled]="ordenDeCompraSeleccionada==null">
                <mat-icon [svgIcon]="!estanTodosSeleccionados() ? 'check-box' : 'check-box-outline-blank'"></mat-icon>
                <!--
                    <label>{{!estanTodosSeleccionados() ? "Seleccionar todas las entradas" : "Limpiar selección"}}</label>
                -->
                <label>
                    <span i18n="@@proveedores.em.limpiarSeleccion" *ngIf="estanTodosSeleccionados()">Limpiar
                        selección</span>
                    <span i18n="@@proveedores.em.seleccionarTodasLasEntradas"
                        *ngIf="!estanTodosSeleccionados()">Seleccionar todas las entradas</span>
                </label>
            </button>

            <button (click)='cancelarSeleccionDeOrdenDeCompra()' [disabled]="ordenDeCompraSeleccionada==null">
                <mat-icon svgIcon="cancel"></mat-icon>
                <label i18n="@@contelec.cancelar">Cancelar</label>
            </button>

        </app-experimental-menu>

        <div class='content'>

            <!-- PANELES -->
            <div style="display:flex; height:100%;">

                <!-- PANEL DE BUSQUEDA DE ORDEN DE COMPRA -->
                <div style="
                    height: 100%;
                    position: relative;
                    display: flex;
                    flex-flow: column;
                    width: 256px;
                    max-width: 256px;
                    min-width: 256px;
                    margin-right: 32px;
                ">

                    <!-- INPUT DE NUMERO DE PROVEEDOR (USADO POR EMPLEADO CON PERMISO) -->
                    <div style="display:flex;min-height: 56px;" *ngIf="usuario != null && usuario.rol.id == 2">

                        <div class="iigwo-input" style="flex:1;">
                            <label i18n="@@proveedores.em.numeroDeProveedor"> número de proveedor</label>
                            <input [disabled]="numeroDeProveedorParaUsuarioEmpleado != null"
                                [(ngModel)]='proveedorInput' type="input" 
                                i18n-placeholder="@@proveedores.em.numeroDeProveedor"
                                placeholder="Número de proveedor" />
                        </div>

                        <button *ngIf="numeroDeProveedorParaUsuarioEmpleado == null" class="iigwo primary small" (click)="buscarPorOrdenDeCompra()"
                            [disabled]="proveedorInput == 0" style="
                            margin: 18px 0 0 -4px;
                            min-height: 0;
                            height: 24px;
                            line-height: 22px;" i18n="@@contelec.aceptar"
                            (click)="seleccionarProveedor()">Aceptar</button>

                        <button *ngIf="numeroDeProveedorParaUsuarioEmpleado != null" class="iigwo primary small" (click)="buscarPorOrdenDeCompra()"
                            [disabled]="proveedorInput == 0" style="
                            margin: 18px 0 0 -4px;
                            min-height: 0;
                            height: 24px;
                            line-height: 22px;" i18n="@@contelec.cancelar"
                            (click)="deseleccionarProveedor()">Cancelar</button>
                    </div>

                    <!-- INPUT DE BUSQUEDA POR ORDEN DE COMPRA -->
                    <div
                        *ngIf="(usuario != null && usuario.rol.id == 3) || numeroDeProveedorParaUsuarioEmpleado != null">

                        <div style="display:flex;min-height: 56px;">

                            <div class="iigwo-input" style="flex:1;">
                                <label i18n="@@proveedores.em.buscarPorNoOc"> número orden de compra</label>
                                <input type="input" i18n-placeholder placeholder="Orden de compra"
                                    [(ngModel)]='numeroDeOrdenDeCompraABuscar' />
                            </div>

                            <button class="iigwo primary small" (click)="buscarPorOrdenDeCompra()"
                                [disabled]="!numeroDeOrdenDeCompraABuscar" style="
                            margin: 18px 0 0 -4px;
                            min-height: 0;
                            height: 24px;
                            line-height: 22px;
                        " i18n="@@contelec.buscar">Buscar</button>

                        </div>

                        <p style="margin-top: -6px; margin-bottom: 18px; font-size: 11px;">
                            <span i18n="@@proveedores.em.siNecesitaAyudaPuedeLeerEl">Si necesita ayuda puede leer el
                            </span>
                            <a target="_blank" [href]='utilService.rutaDeManual("ManualProveedores")' i18n="@@proveedores.em.manualDeCargaDeFacturas">manual de carga de facturas</a>
                        </p>

                        <div class="iigwo-search-space" style="
                        padding: 8px 8px 0 8px;
                        background: #fbfbfb;
                        margin-bottom: 8px;
                        overflow-y: auto;
                        border-top: solid 1px rgba(0,0,0,0.1);
                        border-bottom: solid 1px rgba(0,0,0,0.1);
                    ">

                            <!-- CADA ORDEN DE COMPRA -->
                            <div class='entrada-de-mercancia' *ngFor='let e of ordenesDeCompra'
                                (click)="seleccionarOrdenDeCompra(e)" style="cursor: pointer;"
                                [ngClass]="{selectedOc: e == ordenDeCompraSeleccionada}">
                                <label name='fecha'>{{e.fecha_ped}}</label>
                                <label name='docref'>{{e.num_doc_compras}}</label>
                                <label name='docmat'>{{e.estatus_pedido}}</label>
                                <!-- <label name='denom'>${{e.imp_fact | number:'1.2-2':'en'}}</label> -->
                                <label name='denom'>${{e.valor_neto | number:'1.2-2':'en'}}</label>
                            </div>

                        </div>

                        <button class="iigwo primary" (click)='buscarMasOrdenesDeCompra()' style="margin-right: 0;">
                            <label i18n="@@proveedores.em.buscarMasOC">Buscar más ordenes de compra</label>
                        </button>
                        <p style="margin-top: -6px; margin-bottom: 0px; font-size: 13px;"
                            *ngIf='!mostrandoOrdenDeCompraBuscada'>
                            <span i18n="@@proveedores.em.seMuestranLasOrdenesDeLosNDiasEtc">
                                Ordenes de
                            </span>
                            <span> {{pagina * diasPagina}} </span>
                            <span i18n="@@proveedores.em.diasParaVerMasHagaClick"> días atras, para ver más haga click
                                en
                            </span>
                            <b i18n="@@proveedores.em.buscarMasOC">Buscar más ordenes de compra</b>.
                        </p>
                        <p style="margin-top: -6px; margin-bottom: 0px; font-size: 13px;"
                            *ngIf='mostrandoOrdenDeCompraBuscada'
                            i18n="@@proveedores.em.seMuestraSoloResultadoDeOcBuscada">
                            Se muestra solamente el resultado de la orden de compra buscada
                        </p>
                    </div>
                </div>

                <!-- INSTRUCCIONES PARA SELECCIONAR PROVEEDOR -->
                <div style="
                    height: 100%;
                    position: relative;
                    display: flex;
                    flex-flow: column;
                    overflow: hidden;
                " *ngIf="usuario != null && usuario.rol.id == 2 && numeroDeProveedorParaUsuarioEmpleado == null">
                    <h4 style="margin: 0 0 12px 0" i18n="@@proveedores.em.ingresaElProveedor">Ingresa el número de
                        proveedor
                    </h4>
                    <p style="margin-top: -6px; margin-bottom: 18px; font-size: 13px;">
                        <span i18n="@@proveedores.em.ingresaElProveedorDetalle">
                            Ingresa en la caja de la izquierda el número de proveedor para el que deseas cargar facturas
                            y presiona el botón
                        </span>
                        <b i18n="@@contelec.aceptar">Aceptar</b>.
                    </p>
                </div>

                <!-- INSTRUCCIONES PARA SELECCIONAR ORDEN DE COMPRA -->
                <div style="
                    height: 100%;
                    position: relative;
                    display: flex;
                    flex-flow: column;
                    overflow: hidden;
                " *ngIf="usuario != null && (
                        (usuario.rol.id == 3 && ordenDeCompraSeleccionada == null) || 
                        (usuario.rol.id == 2 && numeroDeProveedorParaUsuarioEmpleado != null && ordenDeCompraSeleccionada == null)
                    )">
                    <h4 style="margin: 0 0 12px 0" i18n="@@proveedores.em.seleccionaLaOc">Selecciona la orden de compra
                    </h4>
                    <p style="margin-top: -6px; margin-bottom: 18px; font-size: 13px;">
                        <span i18n="@@proveedores.em.seleccionaLaOcDetalle">
                            Selecciona una orden de compra del panel de la izquierda escribe el número de la orden que
                            buscas en la caja de texto y presiona
                        </span>
                        <b i18n="@@contelec.buscar">Buscar</b>.
                    </p>
                    <p style="margin-top: -6px; margin-bottom: 18px; font-size: 13px;">
                        <span i18n="@@proveedores.em.seleccionaLaOcDetalle2_0">
                            Si tu orden de compra no es relativamente reciente puedes optar por presionar </span>
                        <b i18n="@@proveedores.em.buscarMasOC">Buscar mas ordenes de compra</b>.
                    </p>
                </div>

                <!-- PANEL DE SELECCION DE ENTRADAS DE MERCANCÍA -->
                <div style="
                    height: 100%;
                    position: relative;
                    display: flex;
                    flex-flow: column;
                    overflow: hidden;
                " *ngIf="ordenDeCompraSeleccionada != null">

                    <h4 style="margin: 0 0 12px 0">

                        <span *ngIf="totalEntradasSeleccionadas() == 0" i18n="@@proveedores.em.seleccioneLasEm">
                            Seleccione las entradas de mercancía
                        </span>

                        <span *ngIf="totalEntradasSeleccionadas() == 1" i18n="@@proveedores.em.seleccioneLasEm1">
                            Una entrada de mercancía seleccionada por $
                        </span>

                        <span *ngIf="totalEntradasSeleccionadas() > 1">
                            {{totalEntradasSeleccionadas()}}
                        </span>
                        <span *ngIf="totalEntradasSeleccionadas() > 1" i18n="@@proveedores.em.seleccioneLasEmN">
                            entradas de mercancía seleccionadas por $
                        </span>

                        <span *ngIf="totalEntradasSeleccionadas() > 0">
                            {{(totalImportesDeEntradasSeleccionadas() |number:'1.2-2':'en')}}
                        </span>

                    </h4>
                    <p style="margin-top: -6px; margin-bottom: 18px; font-size: 13px;">
                        <span i18n="@@proveedores.em.seleccioneLasEmInfo"> Seleccione debajo las entradas de mercancía
                            que desea enviar. Cuando esté conforme con su
                            selección presione </span><b i18n="@@contelec.enviar">Enviar</b>.
                    </p>

                    <!-- VISTA SIMPLIFICADA -->
                    <div class="iigwo-search-space" style="
                        width: 256px;
                        padding: 8px 8px 0 8px;
                        background: #fbfbfb;
                        margin-bottom: -6px;
                        overflow-y: auto;
                        border-top: solid 1px rgba(0,0,0,0.1);
                        border-bottom: solid 1px rgba(0,0,0,0.1);
                        position: relative;
                    " *ngIf="!mostrarEntradasDeMercanciaEnTabla">

                        <!-- CADA ENTRADA DE MERCANCIA -->
                        <div class='local entrada-de-mercancia' *ngFor='let e of entradasDeMercancia'
                            (click)="e.seleccionado = !e.seleccionado" style="cursor: pointer;"
                            [ngClass]="{selectedOc: e.seleccionado}">
                            <label class='em-docmat-label'>Doc. Material</label>
                            <label class='em-num_doc_material'>MAT: {{e.num_doc_material}}</label>
                            <label class='em-num_doc_ref'>{{e.num_doc_ref}}</label>

                            <label class='em-cantidad-unidad'>{{e.cantidad}} {{e.unidad}}</label>
                            <label class='em-fecha_cont'>{{e.fecha_cont}}</label>
                            <label class='em-importe'>${{e.importe | number:'1.2-2':'en'}} {{e.clave_moneda}}</label>

                            <label class='em-texto_breve'>{{e.texto_breve}}</label>
                        </div>

                    </div>

                    <!-- VISTA DE TABLA -->
                    <div class="iigwo-search-space" style="
                        overflow-y: auto;
                        border-top: solid 1px rgba(0,0,0,0.1);
                        border-bottom: solid 1px rgba(0,0,0,0.1);
                    " *ngIf="mostrarEntradasDeMercanciaEnTabla">
                        <table>
                            <tr>
                                <th class=''><input type="checkbox" [checked]="estanTodosSeleccionados()"
                                        (change)="checkAll($event)"></th>
                                <th class='accent'>Ord. Compra</th>
                                <th class='accent'>No. Pos.</th>
                                <th class=''>Doc. Material</th>
                                <th class='' i18n="@@Referencia">Referencia</th>
                                <th class=''>Fecha Ent.</th>
                                <th class='accent'>Importe</th>
                                <th class=''>Cantidad</th>
                                <th class=''>Unidad</th>
                                <th class=''>Denominación</th>
                                <th class=''>Moneda</th>
                                <th class=''>Clase Cond.</th>
                                <th class=''>Doc. Ref.</th>
                                <th class=''>Pos. Doc. Ref.</th>
                                <th class=''>Texto Breve</th>
                            </tr>
                            <tr *ngFor='let e of entradasDeMercancia' (click)="e.seleccionado = !e.seleccionado"
                                [ngClass]="{selectedRow: e.seleccionado}">
                                <td class=''><input type="checkbox" [checked]="e.seleccionado"></td>
                                <td class='accent'>{{e.num_doc_comp}}</td>
                                <td class='accent'>{{e.num_pos_doc_comp}}</td>
                                <td class=''>{{e.num_doc_material}}</td>
                                <td class=''>{{e.num_doc_ref}}</td>
                                <td class=''>{{e.fecha_cont}}</td>
                                <td class='accent'>{{e.importe}}</td>
                                <td class=''>{{e.cantidad}}</td>
                                <td class=''>{{e.unidad}}</td>
                                <td class=''>{{e.denominacion}}</td>
                                <td class=''>{{e.clave_moneda}}</td>
                                <td class=''>{{e.clase_cond}}</td>
                                <td class=''>{{e.doc_ref}}</td>
                                <td class=''>{{e.poscicion_doc}}</td>
                                <td class=''>{{e.texto_breve}}</td>
                            </tr>
                        </table>

                    </div>

                    <p style="margin-top: 12px; margin-bottom: 0px; font-size: 13px;"
                        *ngIf="!mostrarEntradasDeMercanciaEnTabla">
                        <span i18n="proveedores.em.tableInfo">Si desea ver las entradas de mercancía en tabla, haga clic
                            en </span><span (click)="mostrarEntradasDeMercanciaEnTabla=true" class="link"
                            i18n="proveedores.em.showTableView">mostrar vista de tabla</span>
                    </p>

                    <p style="margin-top: 12px; margin-bottom: 0px; font-size: 13px;"
                        *ngIf="mostrarEntradasDeMercanciaEnTabla">
                        <span i18n="proveedores.em.tableInfo2">Si desea volver a la vista por defecto, haga clic en
                        </span><span (click)="mostrarEntradasDeMercanciaEnTabla=false" class="link"
                            i18n="proveedores.em.exitTableView">volver a la vista simple</span>
                    </p>



                </div>

            </div>


        </div>

        <!-- LOADING -->
        <div class='iigwo-loading' *ngIf="loading">
            <mat-spinner></mat-spinner>
        </div>

    </div>
</div>