<app-workspace-nav>
    <app-viajes-nav></app-viajes-nav>
</app-workspace-nav>

<div class='workspace'>
	<div class='main'>
            <div class='menu'>
                <button class='iigwo' (click)='cancel()' style="background: none;margin-right: 24px;margin-left: -12px;">
                    <mat-icon svgIcon="arrow-back"></mat-icon>
                </button>
                <label class='home'>Número de solicitud {{solicitud.numeroSolicitud}}</label>

                <div >
                    <button class='iigwo' (click)='obtenerSolicitud()'>
                        <mat-icon svgIcon="refresh"></mat-icon>
                        <label i18n="@@Refrescar">Refrescar</label>
                    </button>

                    <button class='iigwo' (click)='descargaFactura()'>
                        <mat-icon svgIcon="print"></mat-icon>
                        <label>MOSTRAR PDF</label>
                    </button>

                    <button class='iigwo' (click)='descargar(solicitud.numeroSolicitud, "Solicitud-" + solicitud.numeroSolicitud, "zip")'  *ngIf='solicitud.comprobantes && solicitud.comprobantes.length > 0'>
                        <mat-icon svgIcon="file-download"></mat-icon>
                        <label>COMPROBANTES ZIP</label>
                    </button>

                    <button class='iigwo' (click)='poliza()' *ngIf='solicitud.comprobantes && solicitud.comprobantes.length > 0'>
                        <mat-icon svgIcon="assignment"></mat-icon>
                        <label>Ver poliza</label>
                    </button>

                </div>

                

            </div>
            
            <div class='content'>

                <div style="display:flex; flex-flow: row">
    
                    <!-- CABECERA DEL VIAJE -->
                    <div style="min-width:320px;margin-right:24px;margin-bottom: 10px;">
                        <div class="iigwo-input " >
                            <label>Número de solicitud</label>
                            <div >
                                <input [(ngModel)]="solicitud.numeroSolicitud" readonly="true" >
                            </div>
                        </div>

                        <div class="iigwo-input">
                            <label>Estatus</label>
                            <!-- <input [(ngModel)]="solicitud.estatusDescripcion" readOnly> -->
                            <span class="badge-status" 
                                [ngClass]="{status_color_1: solicitud.estatus=='1',
                                            status_color_2: solicitud.estatus=='2',
                                            status_color_3: solicitud.estatus=='3',
                                            status_color_4: solicitud.estatus=='4',
                                            status_color_5: solicitud.estatus=='5',
                                            status_color_6: solicitud.estatus=='6',
                                            status_color_7: solicitud.estatus=='7',
                                            status_color_8: solicitud.estatus=='8',
                                            status_color_9: solicitud.estatus=='9',
                                            status_color_10: solicitud.estatus=='10',
                                            status_color_11: solicitud.estatus=='11',
                                            status_color_12: solicitud.estatus=='12',
                                            status_color_13: solicitud.estatus=='13',
                                            status_color_14: solicitud.estatus=='14',
                                            status_color_15: solicitud.estatus=='15'}"
                                        >
                                {{solicitud.estatusDescripcion}}
                            </span>
                        </div>
                        
                        <div class="iigwo-input " >
                            <label>Empleado</label>
                            <div >
                                <input [(ngModel)]="solicitud.nombreCompletoUsuario" readonly="true" >
                            </div>
                        </div>

                        <div class="iigwo-input">
                            <label>Fecha inicio</label>
                            <div >
                                <input [(ngModel)]="solicitud.fechaInicio" readonly="true" >
                            </div>
                        </div>

                        <div class="iigwo-input">
                            <label>Fecha fin</label>
                            <div >
                                <input [(ngModel)]="solicitud.fechaFin" readonly="true" >
                            </div>
                        </div>
                    
                        <div class="iigwo-input">
                            <label>Motivo</label>
                            <div >
                                <input [(ngModel)]="solicitud.motivo" readonly='true' >
                            </div>
                        </div>

                        <div class="iigwo-input">
                            <label>Empresa</label>
                            <input *ngIf="solicitud.grupo" [ngModel]="solicitud.grupo.nombre" readOnly> 
                        </div>

                        <div class="iigwo-input">
                            <label>Departamento</label>
                            <input *ngIf="solicitud.departamento" [ngModel]="solicitud.departamento.descripcion" readOnly>
                        </div>

                        <div class="iigwo-input">
                            <label>Concepto de timbrado</label>
                            <input [(ngModel)]="solicitud.concepto" readOnly>
                        </div>

                        <div >
                            <label>Monto</label>
                            <div class="iigwo-input">
                                <input readonly="true"  [ngModel]="(solicitud.totalAnticipo | currency : 'MXN' : 'symbol' : undefined : 'es-Mx') ">
                            </div>
                        </div>

                        <div class="iigwo-input">
                            <label>Observaciones</label>
                            <textarea [(ngModel)]="solicitud.observaciones" readOnly placeholder="Sin observaciones"></textarea>
                        </div>

                        </div>
                        <!-- PANEL DERECHA -->
                        <div style="
                        flex-flow: column;
                        display: flex;
                        overflow: auto;" *ngIf='solicitud.comprobantes && solicitud.comprobantes.length > 0'>
                                
                                
                                    <!-- VISTA DE TABLA -->
                            <div class="iigwo-search-space" style="
                                overflow-y: auto;
                                border-top: solid 1px rgba(0,0,0,0.1);" >
                            <table>
                                <tr>
                                    <th class=''>Fecha</th>
                                    <th class='' *ngIf='mostrarCamposOcultos'>RFC</th>
                                    <th class=''>Número de factura</th>
                                    <th class='number' *ngIf='mostrarCamposOcultos'>IVA</th>
                                    <th class='number' *ngIf='mostrarCamposOcultos'>ISR</th>
                                    <th class='number' *ngIf='mostrarCamposOcultos'>IEPS</th>
                                    <th class='number'>Impuestos</th>
                                    <th class='number'>Subtotal</th>
                                    <th class='number'>Total</th>
                                    <th class='number'>Propina</th>
                                    <th class='' *ngIf='mostrarCamposOcultos'>Codigo Cuenta Contable</th>
                                    <th class=''>Cuenta Contable</th>
                                    <th class='' *ngIf='mostrarCamposOcultos'>Observaciones</th>
                                    <th class=''>PDF</th>
                                    <th class=''>XML</th>
                                </tr>
                    
                                <tbody *ngFor='let e of solicitud.comprobantes'
                                    [ngClass]="{selectedRow: e.seleccionado}">
                    
                                    <tr class="renglon">
                                        <td class=''>{{e.fecha | date:'dd/MM/yyyy'}}</td>
                                        <td class='' *ngIf='mostrarCamposOcultos'>
                                            {{e.rfc}}
                                            <p *ngIf='e.rfc === null'>No aplica</p>
                                        </td>
                                        <td class=''>{{e.numeroFactura}}
                                            <p *ngIf='e.numeroFactura === null'>No aplica</p>
                                        </td>
                                        <td class='number ' *ngIf='mostrarCamposOcultos'>
                                            {{e.iva | currency : 'MXN' : 'symbol' : undefined : 'es-Mx'}}
                                            <p class='number' *ngIf='e.iva === null'>{{0 | currency : 'MXN' : 'symbol' : undefined : 'es-Mx'}}</p>
                                        </td>
                                        <td class='number ' *ngIf='mostrarCamposOcultos'>
                                            {{e.isr | currency : 'MXN' : 'symbol' : undefined : 'es-Mx'}}
                                            <p class='number' *ngIf='e.isr === null'>{{0 | currency : 'MXN' : 'symbol' : undefined : 'es-Mx'}}</p>
                                        </td>
                                        <td class='number ' *ngIf='mostrarCamposOcultos'>
                                            {{e.ieps | currency : 'MXN' : 'symbol' : undefined : 'es-Mx'}}
                                            <p class='number' *ngIf='e.ieps === null'>{{0 | currency : 'MXN' : 'symbol' : undefined : 'es-Mx'}}</p>
                                        </td>
                                        <td class='number '>{{e.impuesto | currency : 'MXN' : 'symbol' : undefined : 'es-Mx'}}</td>
                                        <td class='number '>{{e.subTotal | currency : 'MXN' : 'symbol' : undefined : 'es-Mx'}}</td>
                                        <td class='number '>{{e.total | currency : 'MXN' : 'symbol' : undefined : 'es-Mx'}}</td>
                                        <td class='number '>{{e.propina | currency : 'MXN' : 'symbol' : undefined : 'es-Mx'}}</td>
                                        <td class='accent' *ngIf='mostrarCamposOcultos'>{{e.subCuenta.codigo}}</td>
                                        <td class='accent'>{{e.subCuenta.descripcion}}</td>
                                        <td class='accent' *ngIf='mostrarCamposOcultos'>{{e.observaciones}}</td>
                                        <td class=''>
                                            <a (click)='descargar(e.idComprobanteViatico, e.rutaPdf, "pdf")' *ngIf='e.rutaPdf.length > 0'>
                                                <mat-icon svgIcon="file-download"></mat-icon></a>
                                            <p *ngIf='e.rutaPdf.length === 0'>S/PDF</p>
                                        </td>
                                        <td class=''>
                                            <a (click)='descargar(e.idComprobanteViatico, e.rutaXml, "xml")' *ngIf='e.rutaXml.length > 0'>
                                                <mat-icon svgIcon="file-download"></mat-icon></a>
                                            <p *ngIf='e.rutaXml.length === 0'>S/XML</p>
                                        </td>
                                    </tr>

                    
                                </tbody>
                    
                                <tr class="" style="font-family:bold;">
                                    <td class='' *ngIf='mostrarCamposOcultos'></td>
                                    <td class='accent'>Total</td>
                                    <td class='accent'>MXN</td>
                                    <td class='number accent' *ngIf='mostrarCamposOcultos'>{{totalgv.iva | currency : 'MXN' : 'symbol' : undefined : 'es-Mx'}}</td>
                                    <td class='number accent' *ngIf='mostrarCamposOcultos'>{{totalgv.isr | currency : 'MXN' : 'symbol' : undefined : 'es-Mx'}}</td>
                                    <td class='number accent' *ngIf='mostrarCamposOcultos'>{{totalgv.ieps | currency : 'MXN' : 'symbol' : undefined : 'es-Mx'}}</td>
                                    <td class='number accent'>{{totalgv.impuesto | currency : 'MXN' : 'symbol' : undefined : 'es-Mx'}}</td>
                                    <td class='number accent'>{{totalgv.subTotal | currency : 'MXN' : 'symbol' : undefined : 'es-Mx'}}</td>
                                    <td class='number accent'>{{totalgv.total | currency : 'MXN' : 'symbol' : undefined : 'es-Mx'}}</td>
                                    <td class='number accent'>{{totalgv.propina | currency : 'MXN' : 'symbol' : undefined : 'es-Mx'}}</td>
                                    <td class='' *ngIf='mostrarCamposOcultos'></td>
                                    <td class=''></td>
                                    <td class='' *ngIf='mostrarCamposOcultos'></td>
                                    <td class=''></td>
                                    <td class=''></td>
                                </tr> 
                    
                            </table>
                        </div>
                                
                                
                        <p style="margin-top: 12px; margin-bottom: 0px; font-size: 13px;">
                    
                            <span *ngIf="!mostrarCamposOcultos" i18n="@@cajachi.singlesol.mostrarBitacora0">Si desea mostrar todas las columnas
                                en la tabla haga clic en 
                            </span>
                            <span *ngIf="!mostrarCamposOcultos" (click)="mostrarCamposOcultos=true" class="link"
                            i18n="@@cajachi.singlesol.mostrarBitacora">mostrar campos ocultos</span>
                        
                            <span *ngIf="mostrarCamposOcultos" (click)="mostrarCamposOcultos=false" class="link"
                            i18n="@@cajachi.singlesol.ocultarBitacora">Ocultar  campos ocultos</span>
                        </p>
                    
                        
                        
                    </div>


            </div>
            
            <!-- BITACORA DE EVENTOS-->
            <div style="display:flex; flex-flow: row;">
                <app-bitacora [numeroSolicitud]="solicitud.numeroSolicitud"></app-bitacora>
            </div>


        </div>


    </div>
    <!--Cargando-->
    <div class='iigwo-loading' *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
</div>
