<app-workspace-nav>
    <app-general-nav></app-general-nav>
</app-workspace-nav>
<div class='workspace'>
	<div class='main'>
		<div class='menu'>
			<button class='iigwo' (click)='cancel()' style="background: none;margin-right: 24px;margin-left: -12px;">
                <mat-icon svgIcon="arrow-back"></mat-icon>
            </button>
			<label class='home'>Nivel de viáticos {{nivel.nivel}}</label>

			<div *ngIf="idnivel != 'nuevoviaje'">
				<button class='iigwo' (click)='refresh()' *ngIf="idnivel !== 'nuevo-nivel'">
					<mat-icon svgIcon="refresh"></mat-icon>
					<label i18n="@@Refrescar">Refrescar</label>
				</button>

				<button class='iigwo' (click)='eliminar()' *ngIf="idnivel !== 'nuevo-nivel'">
					<mat-icon svgIcon="delete"></mat-icon>
					<label>Eliminar</label>
				</button>
			</div>

		</div>
<div class='content'> 

	<div style="display:flex; flex-flow: row; max-height: 100%;">
			<div style="min-width:320px;margin-right:24px;">

					<div class="iigwo-input">
						<label>Nivel</label>
						<div class="wrapper">
							<input [(ngModel)]="nivel.nivel"
							(ngModelChange)="nivel.nivel"
							onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength='11' >
						</div>
					</div>

					<h4 style='margin-bottom:12px;'>Topes</h4>

					<div class="iigwo-input">

						<div class="wrapper">
							<label>Desayuno por día<span >{{formatoMonto[0]}}</span></label>
                        </div>
                        
                        <div class="currency">
                            <input type="text" 
                                (ngModelChange)="nivel.totalAlimentosDesayunoDia = $event;currentPattern(0)" 
								(keypress)="utilService.validateInput($event)" maxlength=17
								[(ngModel)]="nivel.totalAlimentosDesayunoDia">
                            <span>$</span>
						</div>
						
					</div>

					<div class="iigwo-input">

						<div class="wrapper">
							<label>Comida por día<span >{{formatoMonto[1]}}</span></label>
                        </div>
                        
                        <div class="currency">
                            <input type="text" 
                                (ngModelChange)="nivel.totalAlimentosComidaDia = $event;currentPattern(1)" 
								(keypress)="utilService.validateInput($event)" maxlength=17
								[(ngModel)]="nivel.totalAlimentosComidaDia">
                            <span>$</span>
						</div>
						
					</div>

					<div class="iigwo-input">

						<div class="wrapper">
							<label>Cena por día<span >{{formatoMonto[2]}}</span></label>
                        </div>
                        
                        <div class="currency">
                            <input type="text" 
                                (ngModelChange)="nivel.totalAlimentosCenaDia = $event;currentPattern(2)" 
								(keypress)="utilService.validateInput($event)" maxlength=17
								[(ngModel)]="nivel.totalAlimentosCenaDia">
                            <span>$</span>
						</div>
						
					</div>

					<div class="iigwo-input">

						<div class="wrapper">
                            <label>Hospedaje<span >{{formatoMonto[3]}}</span></label>
                        </div>
                        
                        <div class="currency">
                            <input type="text" 
                                (ngModelChange)="nivel.hospedajeDia = $event;currentPattern(3)" 
								(keypress)="utilService.validateInput($event)" maxlength=17
								[(ngModel)]="nivel.hospedajeDia">
                            <span>$</span>
						</div>

					</div>
					
					<div class="iigwo-input">

						<div class="wrapper">
                            <label>Propina <span >{{formatoMonto[4]}}</span></label>
                        </div>
                        
                        <div class="currency">
                            <input type="text" 
                                (ngModelChange)="nivel.propina = $event;currentPattern(4)" 
								(keypress)="utilService.validateInput($event)" maxlength=17
								[(ngModel)]="nivel.propina">
                            <span>$</span>
						</div>

					</div>

					<div class="iigwo-input">

						<div class="wrapper">
                            <label>Estacionamiento <span >{{formatoMonto[5]}}</span></label>
                        </div>
                        
                        <div class="currency">
                            <input type="text" 
                                (ngModelChange)="nivel.estacionamiento = $event;currentPattern(5)" 
								(keypress)="utilService.validateInput($event)" maxlength=17
								[(ngModel)]="nivel.estacionamiento">
                            <span>$</span>
						</div>

					</div>

					<div class="iigwo-input">

						<div class="wrapper">
                            <label>Atención a clientes <span >{{formatoMonto[6]}}</span></label>
                        </div>
                        
                        <div class="currency">
                            <input type="text" 
                                (ngModelChange)="nivel.atencionClientes = $event;currentPattern(6)" 
								(keypress)="utilService.validateInput($event)" maxlength=17
								[(ngModel)]="nivel.atencionClientes">
                            <span>$</span>
						</div>

					</div>

					<div class="iigwo-input">

						<div class="wrapper">
                            <label>Talachas <span >{{formatoMonto[7]}}</span></label>
                        </div>
                        <div class="currency">
                            <input type="text" 
                                (ngModelChange)="nivel.talachas = $event;currentPattern(7)" 
								(keypress)="utilService.validateInput($event)" maxlength=17
								[(ngModel)]="nivel.talachas">
                            <span>$</span>
						</div>

					</div>

					<div class="iigwo-input">

						<div class="wrapper">
                            <label>No deducibles <span >{{formatoMonto[8]}}</span></label>
                        </div>
                        
                        <div class="currency">
                            <input type="text" 
                                (ngModelChange)="nivel.noDeducibles = $event;currentPattern(8)" 
								(keypress)="utilService.validateInput($event)" maxlength=17
								[(ngModel)]="nivel.noDeducibles">
                            <span>$</span>
						</div>

					</div>

					<div class="iigwo-input">

						<div class="wrapper">
                            <label>Taxis <span >{{formatoMonto[9]}}</span></label>
                        </div>
                        
                        <div class="currency">
                            <input type="text" 
                                (ngModelChange)="nivel.taxis = $event;currentPattern(9)" 
								(keypress)="utilService.validateInput($event)" maxlength=17
								[(ngModel)]="nivel.taxis">
                            <span>$</span>
						</div>

					</div>

					<hr style="margin:  24px 0;">

					<button *ngIf="idnivel != 'nuevo-nivel'" class='accent iigwo' (click)='guardar()'>
								<label>Guardar</label>
					</button>
					<button *ngIf="idnivel == 'nuevo-nivel'" class='accent iigwo' (click)='crear()'>
								<label>Crear</label>
					</button>
					<button class='iigwo' (click)='cancel()'>
							<label i18n="@@Cancelar">Cancelar</label>
					</button>


				</div>

				<!-- MENSAJE ERROR-->
				<div *ngIf="msjerrorTV" class='iigwo-dialog-background'>
					<div class='iigwo-dialog'>
						<h3>{{respuestaTV}}</h3>
						<p>{{msjTV}}</p>
						<!---->
						<button class='iigwo accent' (click)='msjerrorTV = false'><label>Aceptar</label></button>
					</div>
				</div>

				<!-- MENSAJE CARGANDO-->
				<div class='iigwo-loading' *ngIf="cargandoTV">
					<mat-spinner></mat-spinner>
				</div>
			</div>
		</div>
	</div>
</div>