<app-workspace-nav>
    <app-viajes-nav></app-viajes-nav>
</app-workspace-nav>
<div class='workspace'>
    <div class='main'>
        <div class='menu'>
            <label class='home'>Tareas programadas</label>
        </div>
        <div class='content'>

            <h4 style="margin: 0 0 6px 0">Correos de notificaciones a autorizadores </h4>
            <p style="margin: 0 0 12px 0">
                Cada 24 horas el autorizador de centro de costos recibe un correo con una lista de autorizaciones pendientes.
                <br><br>Tambien recibe viajes pendientes de autorizacion cuyo viajero sea uno de los responsables de centro
                para autorizador de usuarios responsables de centros de costo de los que sea responsable.
                <br><br> Si fuese necesario se puede forzar el envio de estos correos con el botón de abajo
            </p>
            <button class="iigwo accent" (click)="enviar()">
                <label>Forzar envio de correos</label>
            </button>

            <p style="margin-top: -6px; margin-bottom: 18px; font-size: 11px;">
                <span i18n="@@siNecesitaAyudaPuedeLeerEl">Si necesita ayuda puede leer el
                </span>
                <a target="_blank" [href]='utilService.rutaDeManual("ManualAdministracionViajes")' i18n="@@manualAdministracionViajes">manual de Administración de Viajes</a>
            </p>
        </div>
        <!-- MENSAJE CARGANDO-->
        <!--div class='iigwo-loading' *ngIf="cargando">
            <svg>
                <use xlink:href="svg/oval.svg#icon"></use>
            </svg>
        </div-->

        <div class='iigwo-loading' *ngIf="cargando">
            <mat-spinner></mat-spinner>
        </div>
        
        <!-- MENSAJE ADVERTENCIA-->
        <div *ngIf="advertencia" class='iigwo-dialog-background'>
            <div class='iigwo-dialog'>
                <h3>{{msjtitle}}</h3>
                <p>{{msjsuccess}}</p>
                <!---->
                <button class='iigwo accent' (click)='advertencia = false'><label>Aceptar</label></button>
            </div>
        </div>
    </div>
</div>