<app-workspace-nav>
    <app-viajes-nav></app-viajes-nav>
</app-workspace-nav>

<div class='workspace'>
    <div class='main'>
        <div class='menu'>
            <label class='home'>Areas</label>

            <button class='iigwo'>
                <mat-icon svgIcon="add-box"></mat-icon>
                <label routerLink="/administracion/viajes/areas/nuevo">Crear Area</label>
            </button>

            <button class='iigwo' (click)='refrescar()'>
                <mat-icon svgIcon="refresh"></mat-icon>
                <label i18n="@@Refrescar">Refrescar</label>
            </button>

        </div>
        <div class='content'>
            <table class='big'>
                <tr>
                    <!--	<th class=''><input type="checkbox"></th>-->
                    <th class=''>Id Area</th>
                    <th class=''>Descripción</th>
                    <th class='number '>Activo</th>
                </tr>
                <tr *ngFor='let e of areas'>
                    <td class=''><a routerLink="/administracion/viajes/areas/{{e.idarea}}">{{e.idarea}}</a></td>
                    <td class=''><a routerLink="/administracion/viajes/areas/{{e.idarea}}">{{e.descripcion}}</a></td>
                    <td>{{e.activo == true ? 'Activo' : 'Inactivo'}}</td>

                </tr>
            </table>

            <p style="margin-top: -6px; margin-bottom: 18px; font-size: 11px;">
                <span i18n="@@siNecesitaAyudaPuedeLeerEl">Si necesita ayuda puede leer el
                </span>
                <a target="_blank" [href]='utilService.rutaDeManual("ManualAdministracionViajes")' i18n="@@manualAdministracionViajes">manual de Administración de Viajes</a>
            </p>
        </div>
    </div>
    <!--Cargando-->
    <div class='iigwo-loading' *ngIf="cargando">
        <mat-spinner></mat-spinner>
    </div>
</div>