<app-workspace-nav>
    <app-general-nav></app-general-nav>
</app-workspace-nav>
<div class='workspace'>

    <div class='main'>
        <div class='menu'>
            <label class='home' i18n="@@Tareas programadas">Tareas programadas</label>
        </div>
        <div class='content'>
            
            <!-- ================================================== -->

            <h4 style="margin: 0 0 12px 0; max-width: 396px" i18n="@@Fecha de inicial de facturas de proveedores">Día y hora para generación de layout de 
                conceptos de nómina para carga de la entrega</h4>

            <div class="iigwo-input">
                <label i18n="@@usuarios.Sociedad">Día de la semana</label>
                <select [(ngModel)]='diaGeneracionLayout'  [attr.disabled]="cambiandoDiaGeneracionLayoutEntrega ? null : ''" style="margin: 0 0 6px 0;"   >
                <option *ngFor="let dia of dias">{{dia}}</option> 
                </select>
                <label i18n="@@Fecha inicial de carga">Hora del día</label>
                <input [(ngModel)]="horaGeneracionLayout" type="time"
                    [attr.readOnly]="cambiandoDiaGeneracionLayoutEntrega ? null : false">
            </div>

            <button class="iigwo" (click)="cambiandoDiaGeneracionLayoutEntrega=true"
                *ngIf="cambiandoDiaGeneracionLayoutEntrega==false">
                <label i18n="@@Cambiar fecha">Cambiar día y hora</label>
            </button>

            <button class="iigwo accent" (click)="cambiarDato(1)"
                *ngIf="cambiandoDiaGeneracionLayoutEntrega==true">
                <label i18n="@@Cambiar fecha">Cambiar día y hora</label>
            </button>
            <button class="iigwo" (click)="cancelarCambio(1)"
                *ngIf="cambiandoDiaGeneracionLayoutEntrega==true">
                <label i18n="@@Cancelar">Cancelar</label>
            </button>
            
            <button class='iigwo accent' (click)="job(1)" *ngIf="cambiandoDiaGeneracionLayoutEntrega==false">
                <label>Ejecutar job manual</label>
            </button>

            <!-- ================================================== -->

            <hr style="max-width:396px;margin-bottom:24px;">

            <!-- ================================================== -->

            <h4 style="margin: 0 0 12px 0; max-width: 396px" i18n="@@Fecha de inicial de facturas de proveedores">Día y hora para generación de layout 
                de conceptos de nómina para carga de las comprobaciones</h4>

            <div class="iigwo-input">
                <label i18n="@@usuarios.Sociedad">Día de la semana</label>
                <select [(ngModel)]='diaGeneracionLayoutComprobaciones'   [attr.disabled]="cambiandoDiaGeneracionLayoutComprobaciones ? null : ''" style="margin: 0 0 6px 0;">
                    <option *ngFor="let dia of dias" >{{dia}}</option> 
                </select>
                <label i18n="@@Fecha inicial de carga">Hora del día</label>
                <input [(ngModel)]="horaGeneracionLayoutComprobaciones" type="time"
                    [attr.readOnly]="cambiandoDiaGeneracionLayoutComprobaciones ? null : false">
            </div>

            <button class="iigwo" (click)="cambiandoDiaGeneracionLayoutComprobaciones=true"
                *ngIf="cambiandoDiaGeneracionLayoutComprobaciones==false">
                <label i18n="@@Cambiar fecha">Cambiar día y hora</label>
            </button>

            <button class="iigwo accent" (click)="cambiarDato(2)"
                *ngIf="cambiandoDiaGeneracionLayoutComprobaciones==true">
                <label i18n="@@Cambiar fecha">Cambiar día y hora</label>
            </button>
            <button class="iigwo" (click)="cancelarCambio(2)"
                *ngIf="cambiandoDiaGeneracionLayoutComprobaciones==true">
                <label i18n="@@Cancelar">Cancelar</label>
            </button> 

            <button class='iigwo accent' (click)="job(2)" *ngIf="cambiandoDiaGeneracionLayoutComprobaciones==false">
                <label>Ejecutar job manual</label>
            </button>

            <!-- ================================================== -->
            
            <hr style="max-width:396px;margin-bottom:24px;">

            <!-- ================================================== -->

            <h4 style="margin: 0 0 12px 0; max-width: 396px" i18n="@@Fecha de inicial de facturas de proveedores">Día y hora para generación de 
                layout de póliza FOX</h4>

            <div class="iigwo-input">
                <label i18n="@@usuarios.Sociedad">Día de la semana</label>
                <select [(ngModel)]='diaGeneracionLayoutPoliza' [attr.disabled]="cambiandoDiaGeneracionLayoutPoliza ? null : ''" style="margin: 0 0 6px 0;">
                <option *ngFor="let dia of dias" >{{dia}}</option> 
                </select>
                <label i18n="@@Fecha inicial de carga">Hora del día</label>
                <input [(ngModel)]="horaGeneracionLayoutPoliza" type="time"
                    [attr.readOnly]="cambiandoDiaGeneracionLayoutPoliza ? null : false">
            </div>

            <button class="iigwo" (click)="cambiandoDiaGeneracionLayoutPoliza=true"
                *ngIf="cambiandoDiaGeneracionLayoutPoliza==false">
                <label i18n="@@Cambiar fecha">Cambiar día y hora</label>
            </button>

            <button class="iigwo accent" (click)="cambiarDato(3)"
                *ngIf="cambiandoDiaGeneracionLayoutPoliza==true">
                <label i18n="@@Cambiar fecha">Cambiar día y hora</label>
            </button>
            <button class="iigwo" (click)="cancelarCambio(3)"
                *ngIf="cambiandoDiaGeneracionLayoutPoliza==true">
                <label i18n="@@Cancelar">Cancelar</label>
            </button> 

            <button class='iigwo accent' (click)="jobFox()" *ngIf="cambiandoDiaGeneracionLayoutPoliza==false">
                <label>Ejecutar job manual</label>
            </button>

            <!-- ================================================== -->
            
            <hr style="max-width:396px;margin-bottom:24px;">

            <!-- ================================================== -->

            <h4 style="margin: 0 0 12px 0; max-width: 396px" i18n="@@Fecha de inicial de facturas de proveedores">Día y hora para generación de 
                layout de póliza SYS21</h4>

            <div class="iigwo-input">
                <label i18n="@@usuarios.Sociedad">Día de la semana</label>
                <select [(ngModel)]='diaGeneracionLayoutPolizaSYS21' [attr.disabled]="cambiandoDiaGeneracionLayoutPolizaSYS21 ? null : ''" style="margin: 0 0 6px 0;">
                <option *ngFor="let dia of dias" >{{dia}}</option> 
                </select>
                <label i18n="@@Fecha inicial de carga">Hora del día</label>
                <input [(ngModel)]="horaGeneracionLayoutPolizaSYS21" type="time"
                    [attr.readOnly]="cambiandoDiaGeneracionLayoutPolizaSYS21 ? null : false">
            </div>

            <button class="iigwo" (click)="cambiandoDiaGeneracionLayoutPolizaSYS21=true"
                *ngIf="cambiandoDiaGeneracionLayoutPolizaSYS21==false">
                <label i18n="@@Cambiar fecha">Cambiar día y hora</label>
            </button>

            <button class="iigwo accent" (click)="cambiarDato(4)"
                *ngIf="cambiandoDiaGeneracionLayoutPolizaSYS21==true">
                <label i18n="@@Cambiar fecha">Cambiar día y hora</label>
            </button>
            <button class="iigwo" (click)="cancelarCambio(4)"
                *ngIf="cambiandoDiaGeneracionLayoutPolizaSYS21==true">
                <label i18n="@@Cancelar">Cancelar</label>
            </button> 

            <button class='iigwo accent' (click)="jobSys21()" *ngIf="cambiandoDiaGeneracionLayoutPolizaSYS21==false">
                <label>Ejecutar job manual</label>
            </button>

            <!-- ================================================== -->
            
            <hr style="max-width:396px;margin-bottom:24px;">

            <!-- ================================================== -->

            <h4 style="margin: 0 0 12px 0; max-width: 396px" i18n="@@Fecha de inicial de facturas de proveedores">Día y hora para generación de 
                layout de póliza SAP Business One</h4>

            <div class="iigwo-input">
                <label i18n="@@usuarios.Sociedad">Día de la semana</label>
                <select [(ngModel)]='diaGeneracionLayoutPolizaSAPB1' [attr.disabled]="cambiandoDiaGeneracionLayoutPolizaSAPB1 ? null : ''" style="margin: 0 0 6px 0;">
                <option *ngFor="let dia of dias" >{{dia}}</option> 
                </select>
                <label i18n="@@Fecha inicial de carga">Hora del día</label>
                <input [(ngModel)]="horaGeneracionLayoutPolizaSAPB1" type="time"
                    [attr.readOnly]="cambiandoDiaGeneracionLayoutPolizaSAPB1 ? null : false">
            </div>

            <button class="iigwo" (click)="cambiandoDiaGeneracionLayoutPolizaSAPB1=true"
                *ngIf="cambiandoDiaGeneracionLayoutPolizaSAPB1==false">
                <label i18n="@@Cambiar fecha">Cambiar día y hora</label>
            </button>

            <button class="iigwo accent" (click)="cambiarDato(5)"
                *ngIf="cambiandoDiaGeneracionLayoutPolizaSAPB1==true">
                <label i18n="@@Cambiar fecha">Cambiar día y hora</label>
            </button>
            <button class="iigwo" (click)="cancelarCambio(5)"
                *ngIf="cambiandoDiaGeneracionLayoutPolizaSAPB1==true">
                <label i18n="@@Cancelar">Cancelar</label>
            </button> 

            <button class='iigwo accent' (click)="jobSapB1()" *ngIf="cambiandoDiaGeneracionLayoutPolizaSAPB1==false">
                <label>Ejecutar job manual</label>
            </button>
        </div>
    </div>

    <!--Cargando-->
    <div class='iigwo-loading' *ngIf="cargando">
        <mat-spinner></mat-spinner>
    </div>

</div>