<app-workspace-nav>
    <app-caja-chica-nav></app-caja-chica-nav>
</app-workspace-nav>
<div class='workspace'>
    <div class='main'>

        <app-experimental-menu backButtonEnabled="true" [moreButtonVisible]="idcajachica != 'nueva-caja'" >

            <label title><span i18n="@@Caja chica">Caja chica</span> {{cajachica.noCaja}}</label>

            <button (click)='refresh()' *ngIf="idcajachica != 'nueva-caja'">
                <mat-icon svgIcon="refresh"></mat-icon>
                <label i18n="@@Refrescar">Refrescar</label>
            </button>

            <button (click)='eliminar()' *ngIf="idcajachica != 'nueva-caja'">
                <mat-icon svgIcon="delete"></mat-icon>
                <label i18n="@@Eliminar">Eliminar</label>
            </button>

        </app-experimental-menu>

        <div class='content'>
            <div class="iigwo-input">
                <label i18n="@@No. Caja">No. Caja</label>
                <input *ngIf="idcajachica != 'nueva-caja'" #description [(ngModel)]="cajachica.noCaja" readOnly
                    maxlength="2">
                <input *ngIf="idcajachica == 'nueva-caja'" #description [(ngModel)]="cajachica.noCaja" maxlength="2">
            </div>
            <div class="iigwo-input">
                <label i18n="@@Descripción">Descripción</label>
                <input #description [(ngModel)]="cajachica.descripcion" maxlength="50">
            </div>
            <div class="iigwo-input">
                <label i18n="@@No. Acreedor / Empleado SAP">No. Acreedor / Empleado SAP</label>
                <input #description [(ngModel)]="cajachica.acredor" maxlength="16">
                <p style="margin-top: 2px; margin-bottom: 18px; font-size: 11px;"
                    i18n="@@No. Acreedor / Empleado SAP - hint">Acreedor a quien se imputara la caja
                    chica</p>
            </div>
            <div class="iigwo-input">
                <label i18n="@@CME">CME</label>
                <input maxlength="1" #description [(ngModel)]="cajachica.cme" maxlength="1">
            </div>
            <div class="iigwo-input">
                <label i18n="@@Usuario responsable">Usuario responsable</label>
                <input #description [(ngModel)]="cajachica.usuarioSap" maxlength="12">
                <p style="margin-top: 2px; margin-bottom: 18px; font-size: 11px;" i18n="@@Usuario responsable - hint">Es
                    el nombre de usuario del
                    responsable de la caja chica. Es quien carga los comprobantes.</p>
            </div>

            <h4 style='margin-bottom:12px;' i18n="@@Sociedades">Sociedades</h4>

            <div class='iigwo-item' *ngFor="let s of cajachica.sociedades">
                <select [(ngModel)]="s.soc">
                    <option *ngFor="let soc of sociedades" [ngValue]="soc.sociedad">{{soc.sociedad}}</option>
                </select>
                <div class='iigwo-item-buttons'>
                    <button class='iigwo small'>
                        <mat-icon svgIcon="delete" (click)="botonQuit(s)"></mat-icon>
                    </button>
                </div>
            </div>
            <button #activeComponent class="iigwo" (click)="botonSoc()" style="margin-top: 12px;">
                <label i18n="@@Agregar sociedad">Agregar sociedad</label>
            </button>

            <hr style="margin:  24px 0;">

            <button *ngIf="idcajachica != 'nueva-caja'" class='accent iigwo' (click)='guardar()'>
                <label i18n="@@Guardar">Guardar</label>
            </button>
            <button *ngIf="idcajachica == 'nueva-caja'" class='accent iigwo' (click)='crear()'
                [disabled]="!cajachica.sociedades || cajachica.sociedades.length == 0">
                <label i18n="@@Crear">Crear</label>
            </button>
            <button class='iigwo' (click)='cancel()'>
                <label i18n="@@Cancelar">Cancelar</label>
            </button>

        </div>
        <!--MENSAJE ELIMINAR-->
        <div *ngIf="msjeliminar" class='iigwo-dialog-background'>
            <div class="iigwo-dialog">
                <h3><span i18n="@@Eliminar caja chica">Eliminar caja chica</span> {{cajachica.noCaja}}</h3>
                <p i18n="@@Eliminar caja chica - message">Estás a punto de borrar la caja, esta operación es
                    irreversible ¿Estás seguro que deseas eliminar?
                </p>
                <button class="iigwo accent" (click)="deleteConfirm()">
                    <label><span i18n="@@Eliminar caja chica">Eliminar caja chica</span> {{cajachica.noCaja}}</label>
                </button>
                <button class="iigwo" (click)="msjeliminar = false">
                    <label i18n="@@Cancelar">Cancelar</label>
                </button>
            </div>
        </div>

        <!-- MENSAJE ERROR-->
        <div *ngIf="msjerror" class='iigwo-dialog-background'>
            <div class='iigwo-dialog'>
                <h3>{{respuesta}}</h3>
                <p>{{msj}}</p>
                <!---->
                <button class='iigwo accent' (click)='msjerror = false'><label>Aceptar</label></button>
            </div>
        </div>

        <!-- MENSAJE CARGANDO-->
        <div class='iigwo-loading' *ngIf="cargando">
            <mat-spinner></mat-spinner>
        </div>
    </div>
</div>