<app-workspace-nav>
	<app-viajes-nav></app-viajes-nav>
</app-workspace-nav>

<div class='workspace'>
	<div class='main'>
		<div class='menu'>
			<label class='home'>Tipos de clase de gastos</label>

			<button class='iigwo'>
            	<mat-icon svgIcon="add-box"></mat-icon>
            	<label routerLink="/administracion/viajes/tipos-gasto/nuevo">Crear</label>
        </button>

			<button class='iigwo' (click)='refrescar()'>
            <mat-icon svgIcon="refresh"></mat-icon>
            <label i18n="@@Refrescar">Refrescar</label>
        </button>

		</div>
		<div class='content'>

			<!-- FILTRO -->
			<div style="margin-bottom: 20px;">
				<h5 style="margin: 0 0 3px 0;">Búsqueda</h5>
				<div class="iigwo-input inline">
					<select [(ngModel)]="idarea" (ngModelChange)="filtro()">
						<option value="-3">Selecciona una área</option>
						<option *ngFor="let a of areas" value="{{a.idarea}}">{{a.descripcion}}</option>
					</select>
				</div>
				<br>

			</div>

			<hr style="margin-bottom:0;">
			<table class='big' *ngIf="tiposGasto.length != 0">
				<tr>
					<!--	<th class=''><input type="checkbox"></th>-->
					<th class='' i18n="@@Id">Id</th>
					<th class=''>Descripción</th>
					<th class='number'>Activo</th>
					<th class="">Area</th>
				</tr>
				<tr *ngFor='let tg of tiposGasto'>
					<td class=''><a routerLink="/administracion/viajes/tipos-gasto/{{tg.id}}">{{tg.id}}</a></td>
					<td class=''><a routerLink="/administracion/viajes/tipos-gasto/{{tg.id}}">{{tg.descripcion}}</a></td>
					<td>{{tg.activo == true ? 'Activo' : 'Inactivo'}}</td>
					<td>{{tg.areaBean.descripcion}}</td>
				</tr>
			</table>
			<!--Cargando-->
			<div class='iigwo-loading' *ngIf="cargando">
				<mat-spinner></mat-spinner>
			</div>
			<!-- MENSAJE DE NO HAY REGISTROS -->
			<div *ngIf="tiposGasto.length == 0 && idarea !=-3">
				<h3 style="margin:12px 0 6px 0">Sin resultados</h3>
				<p style="max-width:396px;">No hay Tipos de clase de gastos dentro del criterio de búsqueda. Intenta con otra área</p>
			</div>
			<!-- MENSAJE DE SELECCION-->
			<div *ngIf="tiposGasto.length == 0 && idarea == -3">
				<h3 style="margin:12px 0 6px 0">Selecciona una área.</h3>
				<p style="max-width:396px;">Para comenzar la búsqueda, debes seleccionar una área.</p>
			</div>

			<p style="margin-top: -6px; margin-bottom: 18px; font-size: 11px;">
                <span i18n="@@siNecesitaAyudaPuedeLeerEl">Si necesita ayuda puede leer el
                </span>
                <a target="_blank" [href]='utilService.rutaDeManual("ManualAdministracionViajes")' i18n="@@manualAdministracionViajes">manual de Administración de Viajes</a>
            </p>
		</div>
	</div>
</div>