<app-workspace-nav>
    <app-viajes-nav></app-viajes-nav>
</app-workspace-nav>
<div class='workspace'>
    <div class='main'>

        <div class='menu'>
            <label class='home'>{{titulo}}</label>
            <button class='iigwo' (click)='nuevoViaje()' *ngIf='permiteCrearViaje'>
                <mat-icon svgIcon="add-box"></mat-icon>
                <label>Crear viaje</label>
            </button>
            <button class='iigwo' (click)='actualizar()'>
                <mat-icon svgIcon="refresh"></mat-icon>
                <label i18n="@@Refrescar">Refrescar</label>
            </button>
        </div>

        <div class='content'>

            <div class="table-wrapper" (scroll)="utilService.tableWrapperScroll($event)" style="border-right-width: 1px">
                <table class='big'>
                    <tr>
                        <th class='accent'>No. Viaje</th>
                        <th class='accent'>Empleado</th>
                        <th class='accent'>Destino</th>
                        <th class=''>Esquema</th>
                        <th class=''>Pais</th>
                        <th class=''>Fecha inicio</th>
                        <th class=''>Fecha fin</th>
                        <th class=''>Salida desde</th>
                        <th class=''>Motivo</th>
                        <th class=''>Comentarios</th>
                        <th class='' i18n="@@Estatus">Estatus</th>
                    </tr>
                    <tr *ngFor='let e of viajes'>
                        <td class=''><a routerLink="{{e.noTrayecto}}">{{e.noTrayecto}}</a></td>
                        <td class=''><a routerLink="{{e.noTrayecto}}">{{e.empleado}}</a></td>
                        <td class='accent'>{{e.destino}}</td>
                        <td>{{e.esquema}}</td>
                        <td>{{e.pais}}</td>
                        <td>{{e.fechaInicio | date:'dd/MM/yyyy'}}</td>
                        <td>{{e.fechaFin | date:'dd/MM/yyyy'}}</td>
                        <td>{{e.salidaDesde}}</td>
                        <td>{{e.motivo}}</td>
                        <td>{{e.comentarios}}</td>
                        <td>{{e.estatus}}</td>
                    </tr>
                </table>
            </div>

            <p style="margin-top: -6px; margin-bottom: 18px; font-size: 11px;">
                <span i18n="@@siNecesitaAyudaPuedeLeerEl">Si necesita ayuda puede leer el
                </span>
                <a target="_blank" [href]='utilService.rutaDeManual("ManualGastosViaje")' i18n="@@manualGastosViaje">manual de Gastos de viajes</a>
            </p>
        </div>

        <!--Cargando-->
        <div class='iigwo-loading' *ngIf="loading">
            <mat-spinner></mat-spinner>
        </div>

    </div>
</div>