<app-workspace-nav>
    <app-viajes-nav></app-viajes-nav>
</app-workspace-nav>
<div class='workspace'>
    <div class='main'>

        <div class='menu'>

            <button class='iigwo' (click)='cancelar()' style="background: none;margin-right: 24px;margin-left: -12px;">
                <mat-icon svgIcon="arrow-back"></mat-icon>
            </button>

            <label class='home'>{{titulo}}</label>

            <button class='iigwo' (click)='autorizar()' *ngIf='autorizando'>
                <mat-icon svgIcon="done"></mat-icon>
                <label>Aprobar</label>
            </button>

            <button class='iigwo' (click)='rechazar()' *ngIf='autorizando'>
                <mat-icon svgIcon="close"></mat-icon>
                <label>Rechazar</label>
            </button>

            <button class='iigwo' (click)='descargarPdf()' *ngIf='editando || autorizando'>
                <mat-icon svgIcon="file-download"></mat-icon>
                <label>Descargar PDF</label>
            </button>

            <button class='iigwo' (click)='descargarXml()' *ngIf='editando || autorizando'>
                <mat-icon svgIcon="file-download"></mat-icon>
                <label>Descargar XML</label>
            </button>

            <button class='iigwo' (click)='actualizar()' *ngIf='editando || autorizando'>
                <mat-icon svgIcon="refresh"></mat-icon>
                <label i18n="@@Refrescar">Refrescar</label>
            </button>

            <button class='iigwo' (click)='eliminar()' *ngIf='editando || autorizando'>
                <mat-icon svgIcon="delete"></mat-icon>
                <label>Eliminar</label>
            </button>

        </div>

        <div class='content'>
            <app-comprobante-form #comprobanteForm [noTrayecto]='noTrayecto' [idComprobante]='idComprobante'
                [autorizando]='autorizando' [disableLoading]='true' ocultarSeccionesDeDialogo='true' (onCancelar)='cancelar()'
                [readOnly]='true'></app-comprobante-form>
        </div>

    </div>

    <!-- CARGANDO-->
    <div class='iigwo-loading' *ngIf="comprobanteForm.loading">
        <mat-spinner></mat-spinner>
    </div>
</div>