<app-workspace-nav>
    <app-proveedores-nav></app-proveedores-nav>
</app-workspace-nav>
<div class='workspace'>
    <div class='main'>

        <app-experimental-menu titulo="Empleados FB60" i18m-titulo="@@proveedores.emfb60.titulo">
        </app-experimental-menu>

        <div class='content'>

            <!-- INSTRUCCIONES -->
            <h4 style="margin: 0 0 12px 0" i18n="@@proveedores.emfb60.seleccioneLosArchivos">Seleccione los archivos
            </h4>
            <p style="margin-top: -6px; margin-bottom: 18px; font-size: 13px;"
                i18n="@@proveedores.emfb60.seleccioneLosArchivosInfo">
                Seleccione los archivos XML y PDF que desea cargar presionando los botones del recuadro de abajo; una
                vez seleccionados presione el botón del fondo para enviar comprobante
            </p>

            <p style="margin-top: -6px; margin-bottom: 18px; font-size: 11px;">
                <span i18n="@@siNecesitaAyudaPuedeLeerEl">Si necesita ayuda puede leer el
                </span>
                <a target="_blank" [href]='utilService.rutaDeManual("ManualEmpleadoFB60")' i18n="@@manualDeEmpleadosFb60">manual de Empleados FB60</a>
            </p>

            <div class='iigwo-panel'>


                <div class="iigwo-input" style='margin-bottom:6px;'>
                    <label>archivo XML</label>

                    <label for='xmlFileId' style='width:132px;'
                        [class]='xmlFile==null?"fake-button accent":"fake-button"'
                        tabindex="0">
                        <span *ngIf="xmlFile==null" i18n="@@Seleccionar XML">Seleccionar XML</span>
                        <span *ngIf="xmlFile!=null" i18n="@@XML Seleccionado">XML Seleccionado</span>                    
                    </label>

                    <label style="display: inline-block; line-height: 32px; font-size: 13px; color:rgba(0,0,0,0.5);"
                        *ngIf="xmlFile==null">No
                        hay archivo seleccionado</label>
                    <label style="display: inline-block; line-height: 32px; font-size: 13px;"
                        *ngIf="xmlFile!=null">{{xmlFile.name}}</label>
                    <input id='xmlFileId' type="file" #xmlFileInput (change)="onXmlFileSelected(xmlFileInput.files)"
                        accept="text/xml" style='display:none;'>
                </div>

                <div class="iigwo-input" style='margin-bottom:6px;'>
                    <label>archivo PDF</label>
                    
                    <label for='pdfFileId' style='width:132px;'
                        [class]='pdfFile==null?"fake-button accent":"fake-button"'
                        tabindex="0">
                        <span *ngIf="pdfFile==null" i18n="@@Seleccionar PDF">Seleccionar XML</span>
                        <span *ngIf="pdfFile!=null" i18n="@@PDF Seleccionado">XML Seleccionado</span>    
                    </label>

                    <label style="display: inline-block; line-height: 32px; font-size: 13px; color:rgba(0,0,0,0.5);"
                        *ngIf="pdfFile==null">No
                        hay archivo seleccionado</label>
                    <label style="display: inline-block; line-height: 32px; font-size: 13px;"
                        *ngIf="pdfFile!=null">{{pdfFile.name}}</label>
                    <input id='pdfFileId' type="file" #pdfFileInput (change)="onPdfFileSelected(pdfFileInput.files)"
                        accept="application/pdf" style='display:none;'>
                </div>

            </div>

            <button class="iigwo accent" style="margin-right:0;" [disabled]="!puedeEnviarse()"
                (click)='enviar()'><label i18n="@@contelec.enviar">Enviar</label></button>

        </div>

        <!-- MENSAJE CARGANDO-->
        <div class='iigwo-loading' *ngIf="loading">
            <mat-spinner></mat-spinner>
        </div>

    </div>
</div>