<app-workspace-nav>
    <app-viajes-nav></app-viajes-nav>
</app-workspace-nav>
<div class='workspace'>
    <div class='main'>
        <div class='menu'>

            <button class='iigwo' (click)='cancelar()' style="background: none;margin-right: 24px;margin-left: -12px;">
                <mat-icon svgIcon="arrow-back"></mat-icon>
            </button>

            <label class='home'>{{area.descripcion}} </label>
            <div *ngIf="idarea != 'nuevo'">
                <button class='iigwo' (click)='refrescar()'>
                    <mat-icon svgIcon="refresh"></mat-icon>
                    <label i18n="@@Refrescar">Refrescar</label>
                </button>

                <button class='iigwo' (click)='eliminar()' [disabled]='false'>
                    <mat-icon svgIcon="delete"></mat-icon>
                    <label>Eliminar</label>
                </button>
            </div>
        </div>
        <div class='content'>
            <div *ngIf="idarea != 'nuevo'">
                <div class="iigwo-input">
                    <label>Id Area</label>
                    <input #description [(ngModel)]="area.idarea" readOnly>
                </div>
            </div>
            <div class="iigwo-input">
                <label>Descripción</label>
                <input #description [(ngModel)]="area.descripcion">
            </div>

            <div class="iigwo-input">
                <label>Activo</label>
                <label class="switch">
                    <input [(ngModel)]="area.activo" type="checkbox">
                    <div class="slider"></div>
                </label>
            </div>
            <hr style="margin:  24px 0;">
            <div *ngIf="idarea != 'nuevo'">
                <button class='accent iigwo' (click)='guardar()'>
                    <label>Guardar</label>
                </button>
                <button class='iigwo' (click)='cancelar()'>
                    <label i18n="@@Cancelar">Cancelar</label>
                </button>
            </div>
            <div *ngIf="idarea == 'nuevo'">
                <button class='accent iigwo' (click)='crear()'>
                    <label>Crear</label>
                </button>
                <button class='iigwo' (click)='cancelar()'>
                    <label i18n="@@Cancelar">Cancelar</label>
                </button>
            </div>

        </div>
        <!-- MENSAJE -->
        <div *ngIf="msjdel" class='iigwo-dialog-background'>
            <div class='iigwo-dialog'>
                <h3>Eliminar área {{area.descripcion}} </h3>
                <p>Estás a punto de eliminar ésta área, la operación es irreversible ¿estás seguro de que deseas
                    eliminarla?</p>
                <button class='iigwo accent' (click)='confirmarDel()'><label>Eliminar área {{area.descripcion}} </label></button>
                <!---->
                <button class='iigwo' (click)='msjdel = false'><label i18n="@@Cancelar">Cancelar</label></button>
            </div>
        </div>
        <!-- MENSAJE ERROR-->
        <div *ngIf="error" class='iigwo-dialog-background'>
            <div class='iigwo-dialog'>
                <h3>{{tituloerror}}</h3>
                <p>{{msjerror}}</p>
                <!---->
                <button class='iigwo accent' (click)='error = false'><label>Aceptar</label></button>
            </div>
        </div>
        <!--Cargando-->
        <div class='iigwo-loading' *ngIf="cargando">
            <mat-spinner></mat-spinner>
        </div>

    </div>
</div>