@import '../../../theme.scss';

td {
    cursor: pointer;
}

.selectedRow {
    button.iigwo {
        background: none;
        border-color: #fff3;
    }
}

.selectedRow td {
    background: mat-color($app-accent);
    color:white;
}

.selectedRow td a {
    color:white;
}

td button.iigwo.small {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    min-width: 0;
    min-height: 0;
}

.hideSegregaciones tr {
    display: none;
}

.hideSegregaciones tr:first-of-type {
    display: table-row;
}

.dropdown {
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.more-menu .dropdown-content{
    width: max-content;
    right: 0;
}

.more-menu-content button {
    overflow: visible;
    width: 100%;
}

.more-menu button {
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover{
    overflow: visible;
}
.dropdown:hover .dropdown-content {
    display: block;
}
