<app-workspace-nav>
    <app-general-nav></app-general-nav>
</app-workspace-nav>
<div class='workspace'>
    <div class='main'>

        <app-experimental-menu titulo="Configuración general" i18n-titulo="@@Configuración general">

            <button (click)='obtenerConfi()'>
                <mat-icon svgIcon="refresh"></mat-icon>
                <label i18n="@@Refrescar">Refrescar</label>
            </button>
        
        </app-experimental-menu>

        <div class='content' >
            <div style="display:flex; flex-flow: row; max-height: 100%;">
                <div style="min-width:320px;margin-right:24px;">
                    <!-- ================================================== -->

                    <h4 style="margin: 0 0 12px 0" i18n="@@Días permitidos para carga de comprobantes">Días permitidos para carga de comprobantes</h4>



                    <div class="iigwo-input">
                        <label i18n="@@Total de días permitidos">Total de días permitidos</label>
                        <input [(ngModel)]="diasPermitidosCargaComprobantes"
                            [attr.readOnly]="cambiandoDiasPermitidosCargaComprobantes ? null : false" 
                            (ngModelChange)="diasPermitidosCargaComprobantes" 
                            onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                            max="45" maxlength="2">
                    </div>

                    <button class="iigwo" (click)="cambiandoDiasPermitidosCargaComprobantes=true"
                        *ngIf="cambiandoDiasPermitidosCargaComprobantes==false">
                        <label i18n="@@Cambiar fecha">Modificar cantidad</label>
                    </button>

                    <button class="iigwo accent"  (click)="cambiarDato(1)"
                        *ngIf="cambiandoDiasPermitidosCargaComprobantes==true">
                        <label i18n="@@Cambiar fecha">Modificar cantidad</label>
                    </button>
                    <button class="iigwo" (click)="cancelarCambio(1)"
                        *ngIf="cambiandoDiasPermitidosCargaComprobantes==true">
                        <label i18n="@@Cancelar">Cancelar</label>
                    </button>


                    <hr style="max-width:396px;margin-bottom:24px;">

                    <!-- ================================================== -->

                    <h4 style="margin: 0 0 12px 0" i18n="@@Tope alimentos por día del SAT nacional">Tope alimentos por día del SAT nacional</h4>

                    <div class="iigwo-input">

                        <div class="wrapper">
                            <label>Tope total permitido<span [hidden]='!cambiandoTopeTotalSAT'>{{formatoMonto[0]}}</span></label>
                        </div>
                        
                        <div class="currency">
                            <input type="text" [ngModel]="!cambiandoTopeTotalSAT ? (TopeTotalSAT | currency : 'MXN' : 'symbol' : undefined : 'es-Mx') : TopeTotalSAT"
                                (ngModelChange)="TopeTotalSAT = $event;currentPattern(1)" [readOnly]='!cambiandoTopeTotalSAT'
                                (keypress)="utilService.validateInput($event)" maxlength=17>
                            <span [hidden]='!cambiandoTopeTotalSAT'>$</span>
                        </div>
                    </div>

                    <button class="iigwo" (click)="cambiandoTopeTotalSAT=true"
                        *ngIf="cambiandoTopeTotalSAT==false">
                        <label i18n="@@Cambiar fecha">Cambiar tope</label>
                    </button>

                    <button class="iigwo accent" (click)="cambiarDato(2)"
                        *ngIf="cambiandoTopeTotalSAT==true">
                        <label i18n="@@Cambiar fecha">Cambiar tope</label>
                    </button>
                    <button class="iigwo" (click)="cancelarCambio(2)"
                        *ngIf="cambiandoTopeTotalSAT==true">
                        <label i18n="@@Cancelar">Cancelar</label>
                    </button>

                    <!-- ================================================== -->

                    <hr style="max-width:396px;margin-bottom:24px;">

                    <!-- ================================================== -->

                    <h4 style="margin: 0 0 12px 0" i18n="@@Tope alimentos por día del SAT extranjero">Tope alimentos por día del SAT extranjero</h4>

                    <div class="iigwo-input">

                        <div class="wrapper">
                            <label>Tope total permitido<span [hidden]='!cambiandoTopeTotal'>{{formatoMonto[1]}}</span></label>
                            <!-- <label>Tope total permitido</label> -->
                        </div>
                        
                        <div class="currency">
                            <input type="text" [ngModel]="!cambiandoTopeTotal ? (TopeTotal | currency : 'MXN' : 'symbol' : undefined : 'es-Mx') : TopeTotal"
                                (ngModelChange)="TopeTotal = $event;currentPattern(2)" [readOnly]='!cambiandoTopeTotal'
                                (keypress)="utilService.validateInput($event)" maxlength=17>
                            <span [hidden]='!cambiandoTopeTotal'>$</span>
                        </div>

                    </div>

                    <button class="iigwo" (click)="cambiandoTopeTotal=true"
                        *ngIf="cambiandoTopeTotal==false">
                        <label i18n="@@Cambiar fecha">Cambiar tope</label>
                    </button>

                    <button class="iigwo accent" (click)="cambiarDato(3)"
                        *ngIf="cambiandoTopeTotal==true">
                        <label i18n="@@Cambiar fecha">Cambiar tope</label>
                    </button>
                    <button class="iigwo" (click)="cancelarCambio(3)"
                        *ngIf="cambiandoTopeTotal==true">
                        <label i18n="@@Cancelar">Cancelar</label>
                    </button>

                    <!-- ================================================== -->

                    <hr style="max-width:396px;margin-bottom:24px;">

                    <!-- ================================================== -->

                    <h4 style="margin: 0 0 12px 0" i18n="@@Tope monto no deducible por año">Tope monto no deducible por año</h4>

                    <div class="iigwo-input">

                        <div class="wrapper">
                            <label>Tope monto<span [hidden]='!cambiandoTopeMonto'>{{formatoMonto[2]}}</span></label>
                        </div>
                        
                        <div class="currency">
                            <input type="text" [ngModel]="!cambiandoTopeMonto ? (TopeMonto | currency : 'MXN' : 'symbol' : undefined : 'es-Mx') : TopeMonto"
                                (ngModelChange)="TopeMonto = $event;currentPattern(3)" [readOnly]='!cambiandoTopeMonto'
                                (keypress)="utilService.validateInput($event)" maxlength=17>
                            <span [hidden]='!cambiandoTopeMonto'>$</span>
                        </div>

                    </div>

                    <button class="iigwo" (click)="cambiandoTopeMonto=true"
                        *ngIf="cambiandoTopeMonto==false">
                        <label i18n="@@Cambiar fecha">Cambiar tope</label>
                    </button>

                    <button class="iigwo accent" (click)="cambiarDato(4)"
                        *ngIf="cambiandoTopeMonto==true">
                        <label i18n="@@Cambiar fecha">Cambiar tope</label>
                    </button>
                    <button class="iigwo" (click)="cancelarCambio(4)"
                        *ngIf="cambiandoTopeMonto==true">
                        <label i18n="@@Cancelar">Cancelar</label>
                    </button>

                    <!-- ================================================== -->

                    <hr style="max-width:396px;margin-bottom:24px;">

                    <!-- ================================================== -->

                    <h4 style="margin: 0 0 12px 0" i18n="@@Porcentaje no deducible por solicitud">Porcentaje no deducible por solicitud</h4>

                    <div class="iigwo-input">

                        <div class="wrapper">
                        <label i18n="@@Porcentaje permitido">Porcentaje permitido</label>
                        </div>

                        <div class="currency">
                            <input [ngModel]="!cambiandoPorcentaje ? (Porcentaje  | percent) :  formatoPorcentaje "
                                (ngModelChange)="Porcentaje " [readOnly]='!cambiandoPorcentaje' [(ngModel)]="Porcentaje" 
                                onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="3" max="100">
                            <span [hidden]='!cambiandoPorcentaje'>%</span>    
                        </div>

                    </div>


                    <button class="iigwo" (click)="cambiandoPorcentaje=true"
                        *ngIf="cambiandoPorcentaje==false">
                        <label i18n="@@Cambiar fecha">Cambiar porcentaje</label>
                    </button>

                    <button class="iigwo accent" (click)="cambiarDato(5)"
                        *ngIf="cambiandoPorcentaje==true">
                        <label i18n="@@Cambiar fecha">Cambiar porcentaje</label>
                    </button>
                    <button class="iigwo" (click)="cancelarCambio(5)"
                        *ngIf="cambiandoPorcentaje==true">
                        <label i18n="@@Cancelar">Cancelar</label>
                    </button>

                    <!-- ================================================== -->
                    
                    <hr style="max-width:396px;margin-bottom:24px;">

                    <!-- ================================================== -->

                    <h4 style="margin: 0 0 12px 0" i18n="@@Monto máximo hospedaje en extranjero">Monto máximo hospedaje en extranjero</h4>

                    <div class="iigwo-input">

                        <div class="wrapper">
                            <label>Monto total permitido<span [hidden]='!cambiandoMontoTotalP'>{{formatoMonto[3]}}</span></label>
                        </div>
                        
                        <div class="currency">
                            <input type="text" [ngModel]="!cambiandoMontoTotalP ? (MontoTotalP | currency : 'MXN' : 'symbol' : undefined : 'es-Mx') : MontoTotalP"
                                (ngModelChange)="MontoTotalP = $event;currentPattern(4)" [readOnly]='!cambiandoMontoTotalP'
                                (keypress)="utilService.validateInput($event)" maxlength=17>
                            <span [hidden]='!cambiandoMontoTotalP'>$</span>
                        </div>
                    </div>

                    <button class="iigwo" (click)="cambiandoMontoTotalP=true"
                        *ngIf="cambiandoMontoTotalP==false">
                        <label i18n="@@Cambiar fecha">Cambiar monto</label>
                    </button>

                    <button class="iigwo accent" (click)="cambiarDato(6)"
                        *ngIf="cambiandoMontoTotalP==true">
                        <label i18n="@@Cambiar fecha">Cambiar monto</label>
                    </button>
                    <button class="iigwo" (click)="cancelarCambio(6)"
                        *ngIf="cambiandoMontoTotalP==true">
                        <label i18n="@@Cancelar">Cancelar</label>
                    </button>

                    <!-- ================================================== -->
                    
                    <hr style="max-width:396px;margin-bottom:24px;">

                    <!-- ================================================== -->
                    
                    <h4 style="margin: 0 0 12px 0" i18n="@@Correo electrónico administrador">Correo electrónico administrador</h4>
                    
                    <div class="iigwo-input">
                        <label i18n="@@Correo electrónico administrador">Correo electrónico</label>
                        <input [(ngModel)]="correoAdministrador" type="email"
                            [attr.readOnly]="cambiandoCorreo ? null : false" maxlength="45">
                    </div>
                    
                    <button class="iigwo" (click)="cambiandoCorreo=true"
                        *ngIf="cambiandoCorreo==false">
                        <label i18n="@@Cambiar fecha">Cambiar correo</label>
                    </button>
                    
                    <button class="iigwo accent" (click)="cambiarDato(7)"
                        *ngIf="cambiandoCorreo==true">
                        <label i18n="@@Cambiar fecha">Cambiar correo</label>
                    </button>
                    <button class="iigwo" (click)="cancelarCambio(7)"
                        *ngIf="cambiandoCorreo==true">
                        <label i18n="@@Cancelar">Cancelar</label>
                    </button>

                    <!-- ================================================== -->
                    
                    <hr style="max-width:396px;margin-bottom:24px;">

                    <!-- ================================================== -->
                    
                    <h4 style="margin: 0 0 12px 0" i18n="@@Ruta almacenamiento archivo carga entrega">Ruta almacenamiento archivo carga entrega</h4>
                    
                    <div class="iigwo-input">
                        <label i18n="@@Ruta almacenamiento archivo carga entrega">Ruta almacenamiento</label>
                        <input [(ngModel)]="rutaCargaEntrega" type="text"
                            [attr.readOnly]="cambiandoCargaEntrega ? null : false" maxlength="45">
                    </div>
                    
                    <button class="iigwo" (click)="cambiandoCargaEntrega=true"
                        *ngIf="cambiandoCargaEntrega==false">
                        <label i18n="@@Cambiar fecha">Cambiar ruta</label>
                    </button>
                    
                    <button class="iigwo accent" (click)="cambiarDato(8)"
                        *ngIf="cambiandoCargaEntrega==true">
                        <label i18n="@@Cambiar fecha">Cambiar ruta</label>
                    </button>
                    <button class="iigwo" (click)="cancelarCambio(8)"
                        *ngIf="cambiandoCargaEntrega==true">
                        <label i18n="@@Cancelar">Cancelar</label>
                    </button>

                    <hr style="max-width:396px;margin-bottom:24px;">

                    <!-- ================================================== -->
                    
                    <h4 style="margin: 0 0 12px 0" i18n="@@Ruta almacenamiento archivo carga comprobaciones">Ruta almacenamiento archivo carga comprobaciones</h4>
                    
                    <div class="iigwo-input">
                        <label i18n="@@Ruta almacenamiento archivo carga comprobaciones">Ruta almacenamiento</label>
                        <input [(ngModel)]="rutaCargaComprobaciones" type="text"
                            [attr.readOnly]="cambiandoCargaComprobaciones ? null : false" maxlength="45">
                    </div>

                    <button class="iigwo" (click)="cambiandoCargaComprobaciones=true"
                        *ngIf="cambiandoCargaComprobaciones==false">
                        <label i18n="@@Cambiar fecha">Cambiar ruta</label>
                    </button>
                    
                    <button class="iigwo accent" (click)="cambiarDato(9)"
                        *ngIf="cambiandoCargaComprobaciones==true">
                        <label i18n="@@Cambiar fecha">Cambiar ruta</label>
                    </button>
                    <button class="iigwo" (click)="cancelarCambio(9)"
                        *ngIf="cambiandoCargaComprobaciones==true">
                        <label i18n="@@Cancelar">Cancelar</label>
                    </button>
                </div>
            </div>
            
        </div>

        <!--Cargando-->
        <div class='iigwo-loading' *ngIf="cargando">
            <mat-spinner></mat-spinner>
        </div>
    </div>
</div>