<app-workspace-nav>
    <app-viajes-nav></app-viajes-nav>
</app-workspace-nav> 
<div class='workspace'>
    <div class='main'>
        
        <div class='menu' >
            <button class='iigwo' (click)='cancel()' style="background: none;margin-right: 24px;margin-left: -12px;">
                <mat-icon svgIcon="arrow-back"></mat-icon>
            </button>
            <!-- <div class="table-wrapper" (scroll)="utilService.tableWrapperScroll($event)" style="border-right-width: 1px"></div> -->
            <label class='home'>{{titulo}}</label>
        </div>
        
        <div class='content' style="margin-top: 10px;" *ngIf="prepolizas.length>0">


            <div class="table-wrapper"  >
                <table class='big' (scroll)="utilService.tableWrapperScroll($event)" style="border-right-width: 1px">
                    <tr>
                        
                        <th >Posición</th>
                        <th >Tipo</th>
                        <th >Fecha</th>
                        <th >Tipo de poliza</th> 
                        <th >Sub cuenta</th>
                        <th >Concepto</th>
                        <th >Uuid</th>
                        <th >RFC</th>
                        <th >Cargo</th>
                        <th >Abono</th>
                        <th >Ceco</th>
                        <th >Flujo</th>
                    </tr>
                    <tr *ngFor='let e of prepolizas | slice:paginacion.begin:paginacion.end'>
                        
                        <td>{{e.posicion}}</td>
                        
                        <td>{{e.tipo}}</td>
                        <td class=''>{{e.fecha | date:'dd/MM/yyyy'}}</td>
                        <td>{{e.tipoPoliza}}</td>
                        <td>{{e.subCuenta}}</td>
                        <td>{{e.concepto}}</td>
                        <td>{{e.uuid}}</td>
                        <td>{{e.rfc}}</td>
                        <td style="text-align:right;">{{e.cargo | currency : 'MXN' : 'symbol' : undefined : 'es-Mx'}}</td>
                        <td style="text-align:right;">{{e.abono | currency : 'MXN' : 'symbol' : undefined : 'es-Mx'}}</td>
                        <td>{{e.ceco}}</td>
                        <td>{{e.flujo}}</td>
                    </tr>

                    <tr>
                        <td colspan="99" style="text-align: right;line-height: 24px;" class="mini"
                            i18n="@@registrosporpagina">
                            Registros por página
                            <select [(ngModel)]="paginacion.size" (ngModelChange)="paginacion.fix()"
                                style="margin: 0 8px; font-family: regular; height: 24px;">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            {{paginacion.begin + 1}}-{{paginacion.end}} de {{paginacion.array.length}}
                            <button class="iigwo small" style="margin: 0 0 0 8px; padding:0; height: 24px; min-height: 24px;"
                                (click)="paginacion.back();">
                                <mat-icon svgIcon="arrow-back"></mat-icon>
                            </button>
                            <button class="iigwo small" style="margin: 0 0 0 8px; padding:0; height: 24px; min-height: 24px;"
                                (click)="paginacion.forward();">
                                <mat-icon svgIcon="arrow-forward"></mat-icon>
                            </button>
                        </td>
                    </tr>

                </table>
                
            </div>

        </div>

        <!--Cargando-->
        <div class='iigwo-loading' *ngIf="loading">
            <mat-spinner></mat-spinner>
        </div>

    </div>
</div>

