<app-workspace-nav>
    <app-caja-chica-nav></app-caja-chica-nav>
</app-workspace-nav>
<div class='workspace'>
    <div class='main'>


        <app-experimental-menu titulo="Gastos cajas" i18n-titulo="@@Gastos cajas">

            <button>
                <mat-icon svgIcon="add-box"></mat-icon>
                <label routerLink="/administracion/caja-chica/gastos-caja/nuevo-gasto" i18n="@@Crear gastos caja">Crear
                    gastos caja</label>
            </button>

            <button (click)='refresh()'>
                <mat-icon svgIcon="refresh"></mat-icon>
                <label i18n="@@Refrescar">Refrescar</label>
            </button>

        </app-experimental-menu>

        <div class='content'>
            <table class='big'>
                <tr>
                    <th class='' i18n="@@No. Operación">No. Operación</th>
                    <th class='' i18n="@@Descripción">Descripción</th>
                    <th class='' i18n="@@Cuenta de mayor">Cuenta de mayor</th>
                </tr>
                <tr *ngFor='let e of gastoscajas'>
                    <td class=''><a
                            routerLink="/administracion/caja-chica/gastos-caja/{{e.operacion}}">{{e.operacion}}</a></td>
                    <td class=''><a
                            routerLink="/administracion/caja-chica/gastos-caja/{{e.operacion}}">{{e.descripcionGasto}}</a>
                    </td>
                    <td class='accent'>{{e.cuentaDeMayor}}</td>

                    <!--
					<td class=''><input type="checkbox"></td>
					<td class=''><a routerLink="/farmacia/productos/{{e.barcode}}">{{e.barcode}}</a></td>
					<td class='accent'>{{e.description}}</td>
					<td class='number'>{{asMoney(e.unitPrice)}}</td>
					<td class=''>{{asYesNo(e.medicalRecipeRequired)}}</td>
					-->
                </tr>
            </table>

            <p style="margin-top: -6px; margin-bottom: 18px; font-size: 11px;">
                <span i18n="@@siNecesitaAyudaPuedeLeerEl">Si necesita ayuda puede leer el
                </span>
                <a target="_blank" [href]='utilService.rutaDeManual("ManualAdministracionCajaChica")' i18n="@@manualAdministracionCajaChica">manual de Administración de Caja Chica</a>
            </p>
        </div>
        <div class='iigwo-loading' *ngIf="cargando">
            <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="msjerrorGC" class='iigwo-dialog-background'>
            <div class='iigwo-dialog'>
                <h3>{{respuestaGsCs}}</h3>
                <p>{{msjGsCs}}</p>
                <!---->
                <button class='iigwo accent' (click)='msjerrorGC = false'><label
                        i18n="@@Aceptar">Aceptar</label></button>
            </div>
        </div>
    </div>
</div>