<div class="workspace" style="left: 0;">
    <div class='menu'>
        <label class='home'><span i18n="@@mycredentials.Credenciales para usuario">Credenciales para usuario</span>
            {{usuario.nombre}}</label>
    </div>
    <div class='content'>

        <h4 style="margin: 0 0 6px 0" i18n="@@Contraseña">Contraseña</h4>
        <p style="margin: 0 0 12px 0" i18n="@@Contraseña - info mycredentials">Una buena contraseña debe ser dificil de
            adivinar y facil de recordar; pero tambien debe ser joven, acostumbrate
            a cambiar tu contraseña periodicamente</p>
        <button class="iigwo" (click)="cambiandoContrasena=true" *ngIf="cambiandoContrasena==false">
            <label i18n="@@Cambiar contraseña">Cambiar contraseña</label>
        </button>
        <div *ngIf="cambiandoContrasena==true">
            <div class="iigwo-input">
                <label i18n="@@Nueva contraseña">Nueva contraseña</label>
                <input [(ngModel)]="password1" type="password" autocomplete="new-password" name="banana1">
            </div>
            <div class="iigwo-input">
                <label i18n="@@Nueva contraseña (repetir)">Nueva contraseña (repetir)</label>
                <input [(ngModel)]="password2" type="password" autocomplete="new-password" name="banana2">
            </div>
            <p style="margin-top: -6px; margin-bottom: 18px; font-size: 11px;">Deben coincidir ambas contraseñas</p>
            <button class="iigwo accent" (click)="cambiarPassword()">
                <label i18n="@@Cambiar contraseña">Cambiar contraseña</label>
            </button>
            <button class="iigwo" (click)="cambiandoContrasena=false">
                <label i18n="@@Cancelar">Cancelar</label>
            </button>
        </div>

        <hr style="max-width:396px;margin-top:12px;">

        <h4 style="margin: 0 0 6px 0" i18n="@@Correo electrónico">Correo electrónico</h4>
        <p style="margin: 0 0 12px 0" i18n="@@Correo electrónico - info mycredentials">Si prefieres recibir tus
            notificaciones a una dirección distinta, cambia tu dirección de correo electrónico</p>
        <button class="iigwo" (click)="cambiandoCorreo=true" *ngIf="cambiandoCorreo==false">
            <label>Cambiar correo electrónico</label>
        </button>
        <div *ngIf="cambiandoCorreo==true">
            <div class="iigwo-input">
                <label i18n="@@mycredentials1">Nueva dirección de correo electrónico</label>
                <input [(ngModel)]="email1" type="email" autocomplete="new-password">
            </div>
            <div class="iigwo-input">
                <label i18n="@@mycredentials2">Nueva dirección de correo electrónico (repetir)</label>
                <input [(ngModel)]="email2" type="email" autocomplete="new-password">
            </div>
            <p style="margin-top: -6px; margin-bottom: 18px; font-size: 11px;" i18n="@@mycredentials2">Deben coincidir
                ambas direcciones</p>
            <button class="iigwo accent" (click)="cambiarCorreo()">
                <label i18n="@@mycredentials3">Cambiar correo electrónico</label>
            </button>
            <button class="iigwo" (click)="cambiandoCorreo=false">
                <label i18n="@@Cancelar">Cancelar</label>
            </button>
        </div>

    </div>

    <!-- CARGANDO -->
    <div class='iigwo-loading' *ngIf="cargando">
        <mat-spinner></mat-spinner>
    </div>

</div>