<app-workspace-nav>
    <app-viajes-nav></app-viajes-nav>
</app-workspace-nav>
<div class='workspace'>
    <div class='main'>

        <div class='menu'>
            <label class='home'>Configuración de viajes</label>
            <button class='iigwo' (click)='obtenerDatos()'>
            <mat-icon svgIcon="refresh"></mat-icon>
            <label i18n="@@Refrescar">Refrescar</label>
        </button>
        </div>
        <div class='content'>

            <h4 style="margin: 0 0 12px 0">Fecha Inicial de facturas gastos de viaje</h4>
            <div class="iigwo-input">
                <label>Fecha inicial de carga</label>
                <input type="input" placeholder="DD-MM-AAAA" [(ngModel)]="config.valorGV" [attr.readOnly]="mostrarGV ? null : false" />
            </div>
            <p style="margin-top: -6px; margin-bottom: 18px; font-size: 13px;" *ngIf="mostrarGV==false">
                Las facturas electrónicas cargadas por proveedores emitidas antes de esta fecha son automaticamente rechazadas por el sistema.
            </p>
            <p style="margin-top: -6px; margin-bottom: 18px; font-size: 11px;" *ngIf="mostrarGV==true">
                El formato de fecha es año, mes, dia (YYYY-MM-DD)
            </p>
            <button class="iigwo" (click)="mostrarGV=true" *ngIf="mostrarGV==false">
                <label>Cambiar fecha</label>
            </button>
            <button class="iigwo accent" (click)="cambiar(config.valorGV, config.nombreGV)" *ngIf="mostrarGV==true">
                <label>Cambiar fecha</label>
            </button>
            <button class="iigwo" (click)="mostrarGV = false;" *ngIf="mostrarGV==true">
                <label i18n="@@Cancelar">Cancelar</label>
            </button>

            <hr>

            <div class="iigwo-input-date" style="margin-top: 15px;">
                <h4 style='margin-bottom: 6px;'>Permitir autorización de viajes:</h4>
                <p style="margin: 0 0 12px 0">En caso de una emergencia —o para mantener un control estricto de las autorizaciónes de gastos de viaje—
                    es posible retirar el permiso de autorización de gastos de viaje a todos los usuarios a la vez y reestablecerlo
                    cuando sea necesario cambiando el estatus de <b>Autorización permitida</b>.</p>
                <button *ngIf="!mostrarAV" class="iigwo" (click)='mostrarAV = true;'>Cambiar estatus</button>
                <div *ngIf="mostrarAV">
                    <div class="iigwo-input">
                        <label>Autorización permitida</label>
                        <label class="switch">
                            <input [(ngModel)]="config.valorAV" type="checkbox">
                            <div class="slider"></div>
                            {{config.valorAV == '' ? 'No' : 'Si'}}
                        </label>
                    </div>
                    <div class="button">
                        <button class="accent iigwo" (click)='cambiar(config.valorAV, config.nombreAV)'>
	    					Guardar Estatus
                        </button>
                        <button class="iigwo" (click)='mostrarAV = false;'>
        					Cancelar
                        </button>
                    </div>
                </div>
            </div>

            <p style="margin-top: -6px; margin-bottom: 18px; font-size: 11px;">
                <span i18n="@@siNecesitaAyudaPuedeLeerEl">Si necesita ayuda puede leer el
                </span>
                <a target="_blank" [href]='utilService.rutaDeManual("ManualAdministracionViajes")' i18n="@@manualAdministracionViajes">manual de Administración de Viajes</a>
            </p>
        </div>

        <!-- MENSAJE ERROR-->
        <div *ngIf="showMsj" class='iigwo-dialog-background'>
            <div class='iigwo-dialog'>
                <h3>{{titulo}}</h3>
                <p>{{msj}}</p>
                <!---->
                <button class='iigwo accent' (click)='showMsj = false'><label>Aceptar</label></button>
            </div>
        </div>
        <!--Cargando-->
        <div class='iigwo-loading' *ngIf="cargando">
            <mat-spinner></mat-spinner>
        </div>
    </div>
</div>