<h2 mat-dialog-title *ngIf='!ocultarSeccionesDeDialogo'>Cargar comprobante</h2>

<mat-dialog-content [ngClass]='{nodialog:ocultarSeccionesDeDialogo}'>
    <div style="display:flex; min-height: 320px;">

        <!-- FORMA (CREAR) -->
        <div style="min-width: 350px;">

            <div class="iigwo-input" *ngIf='!creando'>
                <label i18n="@@Estatus">ID del Comprobante de Viáticos</label>
                <input [ngModel]="comprobante.idComprobanteViatico" readOnly>
            </div>

            <div class="iigwo-input" *ngIf='!creando'>
                <label i18n="@@Estatus">Número de Solicitud de Viáticos</label>
                <input [ngModel]="comprobante.numeroSolicitud" readOnly>
            </div>

            <div class="iigwo-input" *ngIf='!creando'>
                <label i18n="@@Estatus">Número de Factura</label>
                <input [ngModel]="comprobante.numeroFactura || 'No aplica'" readOnly>
            </div>

            <div class="iigwo-input" *ngIf='!readOnly || !creando'>
                <label>Tipo de gasto</label>
                <select [(ngModel)]="comprobante.subCuenta"
                        (ngModelChange)="comprobante.subCuenta=$event; inputs = true; cuentaContableSelected()" 
                        [disabled]='readOnly' 
                        #selectDeTipoGasto 
                        title="Ingrese el rubro del gasto"
                        required>
                    <option *ngFor="let e of cuentasContables" [ngValue]="e">{{e.descripcion}}</option>
                </select>
            </div>

            <!-- OPCIONES SIN COMPROBANTE XML -->
            <div class="iigwo-input" *ngIf='inputs'>
                <!-- <label>Tipo de gasto</label> -->
                <input type="checkbox" name="CheckXml"
                    style="width: 15px;display: inline-block;margin: 0 6px 0 4px;"
                    (change)="conXML = !conXML; xmlFile = null;limpiarValoresPorCambioDeCuentaContable()">
                <label
                    style="display: inline-block;margin: 6px 0 0 0;"
                    for="CheckXml">No cuento con XML</label>
            </div>

            <div class="iigwo-input" *ngIf='inputs || !creando'>
                <label>Fecha realización</label>
                <!-- <input [(ngModel)]="comprobante.fecha" [readOnly]='readOnly' type="date"> -->
                <input [ngModel]="comprobante.fecha | date:'yyyy-MM-dd':'':'en'"
                        (ngModelChange)='comprobante.fecha = $event' 
                        type="date"
                        [readOnly]='readOnly && !ediandoCamposDeComprobante'
                        title="Ingrese el rubro del gasto"
                        required>
            </div>

            <div class="iigwo-input" *ngIf='inputs || !creando'>
                <div class="wrapper">
                    <label>Subtotal
                        <span [hidden]='(conXML || comprobante.rutaXml !== "") || (readOnly && !ediandoCamposDeComprobante)' 
                                style="right: 20px;">{{formatoSubtotal}}</span>
                    </label>
                </div>
                
                <div class="currency">
                    <input
                            [ngModel]="conXML || (readOnly && !ediandoCamposDeComprobante) ? (comprobante.subTotal | currency : 'MXN' : 'symbol' : undefined : 'es-Mx') : comprobante.subTotal"
                            (ngModelChange)="comprobante.subTotal = $event;currencyPattern();actualizarTotal()" 
                            [readOnly]='conXML || (readOnly && !ediandoCamposDeComprobante)'
                            (keypress)="utilService.validateInput($event)" 
                            [required]='!conXML'>
                    <span [hidden]='conXML || (readOnly && !ediandoCamposDeComprobante)' 
                            style="right: 20px;">$</span>
                </div>
            </div>

            <div class="iigwo-input" *ngIf='(inputs || !creando) && conXML'>
                <label>Impuestos (IVA, ISR, IEPS)</label>
                <div class="currency">
                    <input
                            [ngModel]="comprobante.impuesto | currency : 'MXN' : 'symbol' : undefined : 'es-Mx'" 
                            readOnly>
                </div>
            </div>

            <div class="iigwo-input" *ngIf='inputs || !creando'>
                <label>Total</label>
                <div class="currency">
                    <input
                            [ngModel]="comprobante.total | currency : 'MXN' : 'symbol' : undefined : 'es-Mx'" 
                            readOnly>
                </div>
            </div>

            <div class="iigwo-input" *ngIf='inputs || !creando'>
                <label>Observaciones</label>
                <textarea [(ngModel)]="comprobante.observaciones" 
                        [readOnly]='readOnly && !ediandoCamposDeComprobante'
                        placeholder="Sin observaciones"></textarea>
            </div>

            <div class="iigwo-input" *ngIf='inputs || !creando'>
                <div class="wrapper">
                    <label>Propina
                        <span  [hidden]='readOnly && !ediandoCamposDeComprobante' style="right: 20px;">{{formatoPropina}}</span>
                    </label>
                </div>
                
                <div class="currency">
                    <input
                            [ngModel]="(readOnly && !ediandoCamposDeComprobante) ? (comprobante.propina | currency : 'MXN' : 'symbol' : undefined : 'es-Mx') : comprobante.propina"
                            (ngModelChange)="comprobante.propina = $event;currencyPattern()"
                            (keypress)="utilService.validateInput($event)" 
                            [readOnly]='readOnly && !ediandoCamposDeComprobante'>
                    <span [hidden]='readOnly && !ediandoCamposDeComprobante' style="right: 20px;">$</span>
                </div>
            </div>

            <!-- BOTONES CABECERA DE VIAJE EXISTENTE -->
            <div *ngIf="(estatusSolicitud == '3' || estatusSolicitud == '6' || estatusSolicitud == '9' || estatusSolicitud == '12') && comprobante.estatusComprobante !== 'RECHAZAR'">
                <button class='iigwo primary' 
                        *ngIf='!ediandoCamposDeComprobante'
                        (click)='ediandoCamposDeComprobante=true;currencyPattern()'>
                    <label>Editar campos del comprobante</label>
                </button>
                <button class='iigwo' 
                        *ngIf='ediandoCamposDeComprobante'
                        (click)='ediandoCamposDeComprobante=false;this.actualizar()'>
                    <label i18n="@@Cancelar">Cancelar</label>
                </button>
                <button class='accent iigwo' 
                        *ngIf='ediandoCamposDeComprobante'  
                        (click)='guardar()'>
                    <label>Guardar cambios del comprobante</label>
                </button>
            </div>

        </div>

        <!-- PANEL DERECHA -->
        <div>

            <!-- TEXTO AYUDA TIPO GASTO -->
            <div *ngIf='(comprobante && !comprobante.subCuenta.id) && !readOnly  && creando'>
                <h4 style="margin: 0 0 12px 0">Seleccione el tipo de gasto</h4>
                <p style="margin-top: -6px; margin-bottom: 18px; font-size: 13px;">Seleccione de la
                    lista desplegable de la izquierda el tipo de gasto del comprobante que va a cargar.</p>
            </div>

            <!-- TEXTO AYUDA CAMPOS DEL COMPROBANTE -->
            <div *ngIf='(comprobante && comprobante.subCuenta.id) && creando'>
                <h4 style="margin: 0 0 12px 0">Llene los campos</h4>
                <p style="margin-top: -6px; margin-bottom: 18px; font-size: 13px;">Llene los campos de
                    la izquerda referente al tipo de comprobante que va a cargar.</p>
            </div>

            <!-- TEXTO AYUDA CLASE GASTO -->
            <div *ngIf='(comprobante && comprobante.subCuenta.id) && creando'>
                <h4 style="margin: 0 0 12px 0">Carga de archivos</h4>
                <p style="margin-top: -6px; margin-bottom: 18px; font-size: 13px;">Adjunte el(los) 
                    archivo(s) sobre el comprobante que se indica(n) a continuación:</p>
            </div>

            <!-- ARCHIVOS -->
            <div class='iigwo-panel' *ngIf='inputs'>

                <div class="iigwo-input" style='margin-bottom:6px;'>
                    <label>Archivo XML</label>
                    <label for='xmlFileId' 
                            style='width:132px;'
                            [class]='xmlFile==null?"fake-button accent":"fake-button"'
                            tabindex="0"
                            *ngIf="conXML">{{xmlFile==null?'Seleccionar XML':'XML seleccionado'}}</label>
                    <label style="display: inline-block; line-height: 32px; font-size: 13px; color:rgba(0,0,0,0.5);"
                            *ngIf="xmlFile==null && conXML">No hay archivo seleccionado</label>
                    <label style="display: inline-block; line-height: 32px; font-size: 13px;"
                            *ngIf="xmlFile!=null && conXML">{{xmlFile.name}}</label>
                    <input id='xmlFileId' type="file" #xmlFileInput (change)="onXmlFileSelected(xmlFileInput.files)" on
                        accept="text/xml" style='display:none;' *ngIf="conXML" [required]='conXML'>
                    <label style="display: inline-block; line-height: 32px; font-size: 13px; color:rgba(0,0,0,0.5);"
                            *ngIf="!conXML">Sin archivo XML</label>
                </div>

                <div class="iigwo-input" >
                    <label>Archivo PDF</label>
                    <label for='pdfFileId' style='width:132px;'
                        [class]='pdfFile==null?"fake-button accent":"fake-button"'
                        tabindex="0"
                        *ngIf="conPDF">{{pdfFile==null?'Seleccionar PDF':'PDF seleccionado'}}</label>
                    <label style="display: inline-block; line-height: 32px; font-size: 13px; color:rgba(0,0,0,0.5);"
                        *ngIf="pdfFile==null && conPDF">No
                        hay archivo seleccionado</label>
                    <label style="display: inline-block; line-height: 32px; font-size: 13px;"
                        *ngIf="pdfFile!=null && conPDF">{{pdfFile.name}}</label>
                    <input id='pdfFileId' type="file" #pdfFileInput (change)="onPdfFileSelected(pdfFileInput.files)"
                        accept="application/pdf" style='display:none;' *ngIf="conPDF" [required]='conPDF'>
                    <label style="display: inline-block; line-height: 32px; font-size: 13px; color:rgba(0,0,0,0.5);"
                        *ngIf="!conPDF">Sin archivo PDF</label>
                </div>

            </div>

            <!-- PDF VIEWER -->
            <div *ngIf='!creando'>
                <object id="viewer">
                    
                </object>
            </div>

        </div>

    </div>
</mat-dialog-content>

<mat-dialog-actions *ngIf='!ocultarSeccionesDeDialogo'>

    <button class="iigwo" style="margin-left:auto;" (click)='cancelar()'><label i18n="@@Cancelar">Cancelar</label></button>
    <button class="iigwo accent" style="margin-right:0;" (click)='enviar()' [disabled]="!validarCamposRequeridos()"><label>Enviar
            comprobante</label></button>

</mat-dialog-actions>

<!-- CARGANDO-->
<div class='iigwo-loading' *ngIf="loading && !disableLoading">
    <mat-spinner></mat-spinner>
</div>