<h2 mat-dialog-title>Editar conexion SAP Business One</h2>

<mat-dialog-content>

    <div style="min-width: 320px;">
        <p class="texto">
            Hola
        </p>
    
        <div class="iigwo-input">
            <label>Server</label>
            <input type="text" [(ngModel)]="datosConexion.server" >
        </div>
    
        <div class="iigwo-input">
            <label>licenseServer</label>
            <input type="text" [(ngModel)]="datosConexion.licenseServer" >
        </div>
    
        <div class="iigwo-input">
            <label>companyDB</label>
            <input type="text" [(ngModel)]="datosConexion.companyDB" >
        </div>
    
        <div class="iigwo-input">
            <label>userName</label>
            <input type="text" [(ngModel)]="datosConexion.userName" >
        </div>
    
        <div class="iigwo-input">
            <label>password</label>
            <input type="text" [(ngModel)]="datosConexion.password" >
        </div>
    
        <div class="iigwo-input">
            <label>dbUserName</label>
            <input type="text" [(ngModel)]="datosConexion.dbUserName" >
        </div>
    
        <div class="iigwo-input">
            <label>dbPassword</label>
            <input type="text" [(ngModel)]="datosConexion.dbPassword" >
        </div>
    
        <div class="iigwo-input">
            <label>dbServerType</label>
            <input type="text" [(ngModel)]="datosConexion.dbServerType" >
        </div>
    
        <div class="iigwo-input">
            <label>language</label>
            <input type="text" [(ngModel)]="datosConexion.language" >
        </div>
        
        <div class="iigwo-input">
            <label>useTrusted</label>
            <input type="text" [(ngModel)]="datosConexion.useTrusted" >
        </div>
    </div>

</mat-dialog-content>

<mat-dialog-actions>
    <button class="iigwo" style="margin-left:auto;" (click)='cerrar()'>Cancelar</button>
    <button class="iigwo accent" style="margin-right:0;" (click)='terminar()'><label>Terminar</label></button>
</mat-dialog-actions>