<h2 mat-dialog-title *ngIf='!ocultarSeccionesDeDialogo' i18n="@@Cargar gasto">Cargar gasto</h2>

<mat-dialog-content [ngClass]='{nodialog:ocultarSeccionesDeDialogo}'>
    <div class="panel-container">

        <!-- FORMA (CREAR) -->
        <div class="gasto-panel">

            <div class="iigwo-input" *ngIf='!readOnly'>
                <label i18n="@@Operación contable">Operación contable</label>
                <select [(ngModel)]="operacion" (ngModelChange)="operacionContableSeleccionada()" [disabled]='loading'>
                    <option *ngFor="let e of gastosCaja" [ngValue]="e">{{e.descripcionGasto}}</option>
                </select>
            </div>

            <div class="iigwo-input" *ngIf='!creando'>
                <label i18n="@@Estatus">Estatus</label>
                <input [ngModel]="gasto.estatus" readOnly>
            </div>

            <div class="iigwo-input" *ngIf='operacion || readOnly'>
                <label i18n="@@Texto">Texto</label>
                <textarea [(ngModel)]="gasto.texto" type="text" [readOnly]='readOnly && !autorizando'
                    style="min-width:320px; min-height: 54px;"></textarea>
            </div>

            <div class="iigwo-input" *ngIf='operacion || readOnly'>
                <label i18n="@@Asignacion">Asignacion</label>
                <input [(ngModel)]="gasto.asignacion" type="text" [readOnly]='readOnly && !autorizando'>
            </div>

            <!-- ELEMENTO PEP, CENTRO DE COSOT, O GRAFO -->
            <div class='iigwo-panel' *ngIf='operacion || readOnly' style="
                margin: 20px 0 20px 0;
                max-width: 294px;
                padding-bottom: 12px;
            ">
                <div class="iigwo-input" *ngIf='(operacion && operacion.centroCosto) || readOnly'>
                    <label i18n="@@Centro de costos">Centro de costos</label>
                    <input [(ngModel)]="gasto.centroDeCosto" type="text" [readOnly]='readOnly && !autorizando'>
                </div>
                <div class="iigwo-input" *ngIf='(operacion && operacion.pep) || readOnly'>
                    <label i18n="@@Elemento PEP">Elemento PEP</label>
                    <input [(ngModel)]="gasto.elementoPep" type="text" [readOnly]='readOnly && !autorizando'>
                </div>
                <div class="iigwo-input" *ngIf='(operacion && operacion.grafo) || readOnly'>
                    <label i18n="@@Grafo">Grafo</label>
                    <input [(ngModel)]="gasto.grafo" type="text" [readOnly]='readOnly && !autorizando'>
                </div>
                <div class="iigwo-input" *ngIf='gasto.grafo && (operacion || readOnly)'>
                    <label i18n="@@Operación grafo">Operación grafo</label>
                    <input [(ngModel)]="gasto.operacionGrafo" type="text" [readOnly]='readOnly && !autorizando'>
                </div>
            </div>
            <p *ngIf='operacion || readOnly'
                style="margin-top: -12px; margin-bottom: 18px; font-size: 11px; max-width: 300px;"
                i18n="@@cajachi.gastosolform.help13">Debe llenar uno solo de los campos de arriba, si llena el campo de
                grafo debe llenar operación grafo tambien
            </p>

            <div class="iigwo-input" *ngIf='operacion || readOnly'>
                <label i18n="@@Orden">Orden</label>
                <input [(ngModel)]="gasto.orden" type="text" [readOnly]='readOnly && !autorizando'>
            </div>

            <div class="iigwo-input" *ngIf='operacion || readOnly'>
                <label i18n="@@Centro de beneficio">Centro de beneficio</label>
                <input [(ngModel)]="gasto.centroDeBeneficio" type="text" [readOnly]='readOnly && !autorizando'>
            </div>

            <div *ngIf='ocultarSeccionesDeDialogo && !readOnly' style="
                border-top: 1px rgba(0,0,0,0.1) solid;
                padding-top: 12px;
                margin-right: 30px;
            ">
                <button class="iigwo" style="margin-left:auto;" (click)='cancelar()'><label
                        i18n="@@Cancelar">Cancelar</label></button>
                <button class="iigwo accent" style="margin-right:0;" [disabled]="!puedeEnviarse()"
                    (click)='enviar()'><label i18n="@@Enviar gasto">Enviar gasto</label></button>
            </div>

        </div>

        <!-- PANEL DERECHA -->
        <div class="gasto-panel" style="position: relative;">

            <!-- CONTENEDOR FIXED -->
            <div style="position: absolute; left: 0; right: 0;">

                <!-- TEXTO AYUDA SELECCIONAR OPERACION (GASTO CAJA) -->
                <div *ngIf='(!operacion) && !readOnly'>
                    <h4 style="margin: 0 0 12px 0" i18n="@@Seleccione el tipo">Seleccione el tipo</h4>
                    <p style="margin-top: -6px; margin-bottom: 18px; font-size: 13px;"
                        i18n="@@cajachi.gastosolform.help1">Seleccione del
                        combobox de la izquierda el tipo de operación del gasto que va a cargar.</p>
                </div>

                <!-- TEXTO DESCRIBE GASTO -->
                <div *ngIf='operacion'>
                    <h4 style="margin: 0 0 12px 0" i18n="@@Describe el gasto">Describe el gasto</h4>
                    <p style="margin-top: -6px; margin-bottom: 18px; font-size: 13px;"
                        i18n="@@cajachi.gastosolform.help2">Describe el gasto que estas cargando, selecciona los
                        archivos que lo acompañan y presiona el botón <b>Enviar gasto</b> del fondo.</p>
                </div>

                <!-- ARCHIVOS -->
                <div class='iigwo-panel' *ngIf='operacion'>

                    <!-- XML -->
                    <div class="iigwo-input" style='margin-bottom:6px;'
                        *ngIf='operacion && operacion.deducibleImpuestos'>
                        <label i18n="@@Archivo XML">Archivo XML</label>
                        <label for='xmlFileId' style='width:132px;'
                            [class]='xmlFile==null?"fake-button accent":"fake-button"' tabindex="0">
                            <span *ngIf="xmlFile==null" i18n="@@Seleccionar XML">Seleccionar XML</span>
                            <span *ngIf="xmlFile!=null" i18n="@@XML seleccionado">XML seleccionado</span>
                        </label>
                        <label style="display: inline-block; line-height: 32px; font-size: 13px; color:rgba(0,0,0,0.5);"
                            *ngIf="xmlFile==null" i18n="@@contelec.noFileSelected">No hay archivo seleccionado</label>
                        <label style="display: inline-block; line-height: 32px; font-size: 13px;"
                            *ngIf="xmlFile!=null">{{xmlFile.name}}</label>
                        <input id='xmlFileId' type="file" #xmlFileInput (change)="onXmlFileSelected(xmlFileInput.files)"
                            accept="text/xml" style='display:none;'>
                    </div>

                    <!-- PDF -->
                    <div class="iigwo-input" *ngIf='operacion'>
                        <label i18n="@@Archivo PDF">Archivo PDF</label>
                        <label for='pdfFileId' style='width:132px;'
                            [class]='pdfFile==null?"fake-button accent":"fake-button"' tabindex="0">
                            <span *ngIf="pdfFile==null" i18n="@@Seleccionar PDF">Seleccionar PDF</span>
                            <span *ngIf="pdfFile!=null" i18n="@@PDF seleccionado">PDF seleccionado</span>
                        </label>
                        <label style="display: inline-block; line-height: 32px; font-size: 13px; color:rgba(0,0,0,0.5);"
                            *ngIf="pdfFile==null" i18n="@@contelec.noFileSelected">No hay archivo seleccionado</label>
                        <label style="display: inline-block; line-height: 32px; font-size: 13px;"
                            *ngIf="pdfFile!=null">{{pdfFile.name}}</label>
                        <input id='pdfFileId' type="file" #pdfFileInput (change)="onPdfFileSelected(pdfFileInput.files)"
                            accept="application/pdf" style='display:none;'>
                    </div>
                </div>

                <!-- TEXTO COSAS QUE FALTAN -->
                <div *ngIf='operacion && !puedeEnviarse()' style="max-width: 338px; margin-bottom: 28px;">
                    <h4 style="margin: 0 0 12px 0" class="important-header" i18n="@@Campos obligatorios">Campos
                        obligatorios</h4>
                    <p style="margin-top: -6px; margin-bottom: 18px; font-size: 13px;"
                        i18n="@@cajachi.gastosolform.help4">Para poder enviar el gasto le hace falta cumplir con lo
                        siguiente</p>
                    <ul>
                        <li *ngIf='!gasto.texto' i18n="@@cajachi.gastosolform.help5">Llenar el campo texto</li>
                        <li *ngIf='!gasto.asignacion' i18n="@@cajachi.gastosolform.help6">Llenar el campo asignación
                        </li>
                        <li *ngIf='!soloUnoDeCecoPepGrafo()' i18n="@@cajachi.gastosolform.help7">Llenar solo uno de los
                            campos centro de costos, elemento pep y grafo</li>
                        <li *ngIf='gasto.grafo && !gasto.operacionGrafo' i18n="@@cajachi.gastosolform.help8">Si llena el
                            campo grafo debe llenar tambien el campo operación grafo</li>
                        <li *ngIf='this.operacion.deducibleImpuestos && !this.xmlFile'
                            i18n="@@cajachi.gastosolform.help9">Seleccionar un archivo XML</li>
                        <li *ngIf='!this.pdfFile' i18n="@@cajachi.gastosolform.help10">Seleccionar un archivo PDF</li>
                    </ul>
                </div>

                <!-- TEXTO VERIFICA CANTIDADES -->
                <div *ngIf='operacion'>
                    <h4 style="margin: 0 0 12px 0" i18n="@@Verifica las cantidades">Verifica las cantidades</h4>
                    <p style="margin-top: -6px; margin-bottom: 18px; font-size: 13px;"
                        i18n="@@cajachi.gastosolform.help11">Verifica las cantidades antes de enviar el gasto</p>
                </div>

                <!-- SUBTOTAL, IVA, ISR, ISH, TUA, IEPS, TOTAL -->
                <div class='iigwo-panel' *ngIf='operacion || readOnly' style="
                    margin: 20px 0 20px 0;
                    max-width: 294px;
                    padding-bottom: 12px;
                ">

                    <div class="iigwo-input" *ngIf='operacion || readOnly'>
                        <label i18n="@@Subtotal">Subtotal</label>
                        <input [(ngModel)]="gasto.subtotal" type="number" step="0.01"
                            (ngModelChange)="actualizarTotal()" [readOnly]='readOnly && !autorizando'>
                    </div>

                    <div class="iigwo-input" *ngIf='operacion && operacion.deducibleImpuestos || readOnly'>
                        <label>IVA</label>
                        <input [(ngModel)]="gasto.iva" type="number" step="0.01" (ngModelChange)="actualizarTotal()"
                            [readOnly]='readOnly && !autorizando'>
                    </div>

                    <div class="iigwo-input"
                        *ngIf='operacion && operacion.deducibleImpuestos && operacion.cuentaContableISR || readOnly'>
                        <label>ISR</label>
                        <input [(ngModel)]="gasto.isr" type="number" step="0.01" (ngModelChange)="actualizarTotal()"
                            [readOnly]='readOnly && !autorizando'>
                    </div>

                    <div class="iigwo-input"
                        *ngIf='operacion && operacion.deducibleImpuestos && operacion.cuentaContableISH || readOnly'>
                        <label>ISH</label>
                        <input [(ngModel)]="gasto.ish" type="number" step="0.01" (ngModelChange)="actualizarTotal()"
                            [readOnly]='readOnly && !autorizando'>
                    </div>

                    <div class="iigwo-input"
                        *ngIf='operacion && operacion.deducibleImpuestos && operacion.cuentaContableIEPS || readOnly'>
                        <label>IEPS</label>
                        <input [(ngModel)]="gasto.ieps" type="number" step="0.01" step="0.01"
                            (ngModelChange)="actualizarTotal()" [readOnly]='readOnly && !autorizando'>
                    </div>

                    <div class="iigwo-input"
                        *ngIf='operacion && operacion.deducibleImpuestos && operacion.cuentaContableTUA || readOnly'>
                        <label>TUA</label>
                        <input [(ngModel)]="gasto.tua" type="number" step="0.01" (ngModelChange)="actualizarTotal()"
                            [readOnly]='readOnly && !autorizando'>
                    </div>

                    <div class="iigwo-input" *ngIf='operacion || readOnly'>
                        <label i18n="@@Total">Total</label>
                        <input [(ngModel)]="gasto.totalFactura" type="number" step="0.01"
                            [readOnly]='readOnly && !autorizando'>
                    </div>

                </div>
                <p *ngIf='operacion || readOnly'
                    style="margin-top: -12px; margin-bottom: 18px; font-size: 11px; max-width: 300px;"
                    i18n="@@cajachi.gastosolform.help12">Los campos de arriba se deben llenar a mano, a menos que se
                    cargue un XML, entonces se extraeran de este</p>

            </div>

        </div>

    </div>
</mat-dialog-content>

<mat-dialog-actions *ngIf='!ocultarSeccionesDeDialogo'>

    <button class="iigwo" style="margin-left:auto;" (click)='cancelar()'><label
            i18n="@@Cancelar">Cancelar</label></button>
    <button class="iigwo accent" style="margin-right:0;" [disabled]="!puedeEnviarse()" (click)='enviar()'><label
            i18n="@@Enviar gasto">Enviar gasto</label></button>

</mat-dialog-actions>

<!-- CARGANDO-->
<div class='iigwo-loading' *ngIf="loading && !disableLoading">
    <mat-spinner></mat-spinner>
</div>