<app-workspace-nav>
    <app-proveedores-nav></app-proveedores-nav>
</app-workspace-nav>
<div class='workspace'>
    <div class='main'>

        <div class='menu'>
            <label class='home'>Carga de factura de fletes</label>
        </div>

        <div class='content'>

            <!-- PANELES -->
            <div style="display:flex; height:100%;">

                <!-- PANEL DE BUSQUEDA DE ORDEN DE COMPRA -->
                <div style="
                        height: 100%;
                        position: relative;
                        display: flex;
                        flex-flow: column;
                        width: 256px;
                        max-width: 256px;
                        min-width: 256px;
                        margin-right: 32px;
                    ">

                    <!-- FORMA DE BUSQUEDA -->
                    <div style="display:flex;min-height: 56px;">
                        <div class="iigwo-input" style="flex:1;">
                            <label>Buscar por número orden de compra</label>
                            <input type="input" placeholder="Orden de compra" [(ngModel)]='numeroDeOrdenDeCompraABuscar' />
                        </div>
                        <button class="iigwo small" (click)="buscarPorOrdenDeCompra()" [disabled]="!numeroDeOrdenDeCompraABuscar"
                            style="
                            margin: 18px 0 0 -4px;
                            min-height: 0;
                            height: 24px;
                            color: white;
                            background: #3e3d8a;
                            ">Buscar</button>
                    </div>
                    <p style="margin-top: -6px; margin-bottom: 18px; font-size: 11px;">Si necesita ayuda puede leer el
                        <a href='/'>manual de carga de facturas</a></p>

                </div>

                <!-- INSTRUCCIONES PRE SELECCIONAR ORDEN DE COMPRA -->
                <div style="
                    height: 100%;
                    position: relative;
                    display: flex;
                    flex-flow: column;
                    overflow: hidden;
                "
                    *ngIf="ordenDeCompraSeleccionada == null">
                    <h4 style="margin: 0 0 12px 0">Busque la orden de compra</h4>
                    <p style="margin-top: -6px; margin-bottom: 18px; font-size: 13px;">
                        Escriba en la caja de texto de la izquierda el número de orden de compra con fletes que está
                        buscando y presione <b>Buscar</b> para obtener los fletes con facturas pendientes por cargar
                    </p>
                </div>

            </div>

            <!-- LOADING -->
            <div class='iigwo-loading' *ngIf="loading">
                <mat-spinner></mat-spinner>
            </div>

        </div>
    </div>