<app-workspace-nav>
    <app-general-nav></app-general-nav>
</app-workspace-nav>
<div class='workspace'>
	<div class='main'>
		<div class='menu'>
			<label class='home'>Cuentas Contables</label>

			<button class='iigwo' (click)='nuevo()'>
			<mat-icon svgIcon="add-box"></mat-icon>
			<label i18n="@@Nueva cuenta contable" >Nueva cuenta contable</label>
			</button>

			<button class='iigwo' (click)='refresh()'>
            <mat-icon svgIcon="refresh"></mat-icon>
            <label i18n="@@Refrescar">Refrescar</label>
        	</button>

		</div>
		<div class='content'>

			<div style="margin-bottom: 7px;">

				<div class="iigwo-input inline">
					<label>Campo</label>
					<select [(ngModel)]="filtro.campo" style="width: 160px;">
						<option value="">Selecciona una opción</option>
						<option value="codigo">Código</option>
						<option value="descripcion">Descripción</option>
						<option value="empresa">RFC Empresa</option>
						<option value="ceco">Centro de costos</option>
						<option value="tipo">Tipo</option>
					</select>
				</div>

				<div class="iigwo-input inline">
					<label>Contiene</label>
					<input type="text" style="width: 320px;" placeholder="Texto / Número" [(ngModel)]="filtro.valor">
				</div>

				<button class="accent iigwo small" style="margin-bottom: 0; margin-top: 10px;" (click)="aplicarFiltro()" [disabled]="filtro.campo == '' || filtro.valor == ''">Aplicar filtro</button>

			</div>

			<div class="table-wrapper" (scroll)="utilService.tableWrapperScroll($event)" style="border-right-width: 1px">
				<table class='big'>
					<tr>
						<th class=''>Código</th>
						<th class=''>Descripción</th>
						<th class=''>RFC Empresa</th>
						<th class=''>Centro de costos</th>
						<th class=''>Tipo</th>
					</tr>
					<tr *ngFor='let sub of subcuenta | slice:paginacion.begin:paginacion.end'>
						<td class=''><a [routerLink]="['/cuenta/',sub.id]">{{sub.codigo}}</a></td>
						<td class=''>{{sub.descripcion}}</td>
						<td class=''>{{sub.empresa}}</td>
						<td class=''>{{sub.ceco}}</td>
						<td class=''>{{sub.tipo}}</td>
					</tr>
					<tr>
                        <td colspan="99" style="text-align: right;line-height: 24px;" class="mini"
                            i18n="@@registrosporpagina">
                            Registros por página
                            <select [(ngModel)]="paginacion.size" (ngModelChange)="paginacion.fix()"
                                style="margin: 0 8px; font-family: regular; height: 24px;">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            {{paginacion.begin + 1}}-{{paginacion.end}} de {{paginacion.array.length}}
                            <button class="iigwo small" style="margin: 0 0 0 8px; padding:0; height: 24px; min-height: 24px;"
                                (click)="paginacion.back();">
                                <mat-icon svgIcon="arrow-back"></mat-icon>
                            </button>
                            <button class="iigwo small" style="margin: 0 0 0 8px; padding:0; height: 24px; min-height: 24px;"
                                (click)="paginacion.forward();">
                                <mat-icon svgIcon="arrow-forward"></mat-icon>
                            </button>
                        </td>
                    </tr>
			</table>
		</div>
		</div>
		
		<div class='iigwo-loading' *ngIf="cargando">
			<mat-spinner></mat-spinner>
		</div>
	</div>
</div>