<app-workspace-nav>
    <app-viajes-nav></app-viajes-nav>
</app-workspace-nav>
<div class='workspace'>
    <div class='main'>

        <!-- MENU DE VIAJE -->
        <div class='menu' *ngIf='!comprobantesSeleccionados.length'>

            <button class='iigwo' (click)='cancelar()' style="background: none;margin-right: 24px;margin-left: -12px;">
                <mat-icon svgIcon="arrow-back"></mat-icon>
            </button>

            <label class='home'>{{titulo}}</label>

            <button class='iigwo' (click)='agregarComprobante()'
                *ngIf="editando && (viaje.estatus == 'Abierto' || viaje.estatus == 'Rechazado')">
                <mat-icon svgIcon="add-box"></mat-icon>
                <label>Agregar comprobante</label>
            </button>

            <button class='iigwo' (click)='solicitarAutorizacion()'
                *ngIf="editando && (viaje.estatus == 'Abierto' || viaje.estatus == 'Rechazado')"
                [disabled]='!viaje.comprobantes || viaje.comprobantes.length == 0'>
                <mat-icon svgIcon="airplane"></mat-icon>
                <label>Solicitar autorización</label>
            </button>

            <button class='iigwo' (click)='terminarAprobacion()'
                *ngIf='(autorizandoPorSociedad && viaje.estatus == "Por Autorizar") || (autorizandoPorCentroDeCosto && viaje.estatus == "En Autorización")'>
                <mat-icon svgIcon="done"></mat-icon>
                <label i18n="@@Terminar aprobación">Terminar aprobación</label>
            </button>

            <!-- SOLO AUTORIZADOR DE AUTORIZADORES -->
            <button class='iigwo' (click)='aprobarViajeAutCC()'
                *ngIf='(autorizandoAutorizador && viaje.estatus == "En Autorización CC")'>
                <mat-icon svgIcon="done"></mat-icon>
                <label>Aprobar viaje</label>
            </button>

            <button class='iigwo' (click)='rechazarViajeAutCC()'
                *ngIf='(autorizandoAutorizador && viaje.estatus == "En Autorización CC")'>
                <mat-icon svgIcon="close"></mat-icon>
                <label>Rechazar viaje</label>
            </button>

            <!-- TODOS MENOS NUEVO -->
            <button class='iigwo' (click)='actualizarViaje()'
                *ngIf='editando || autorizandoPorSociedad || autorizandoPorCentroDeCosto || autorizandoAutorizador'>
                <mat-icon svgIcon="refresh"></mat-icon>
                <label i18n="@@Refrescar">Refrescar</label>
            </button>

            <!-- SOLO DUEÑO -->
            <button class='iigwo' (click)='eliminar()'
                *ngIf="editando && (viaje.estatus == 'Abierto' || viaje.estatus == 'Rechazado')">
                <mat-icon svgIcon="delete"></mat-icon>
                <label>Eliminar</label>
            </button>

        </div>

        <!-- MENU DE COMPROBANTES SELECCIONADOS -->
        <div class='alternative menu' *ngIf='comprobantesSeleccionados.length'>

            <button class='iigwo' (click)='limpiarSeleccionDeComprobantes()'
                style="background: none;margin-right: 24px;margin-left: -12px;">
                <mat-icon svgIcon="close"></mat-icon>
            </button>

            <label
                class='home'>{{comprobantesSeleccionados.length == 1 ? 'Comprobante ' +
                comprobantesSeleccionados[0].idComprobante : comprobantesSeleccionados.length + ' comprobantes'}}</label>

            <!-- BOTONES DE AUTORIZADOR POR SOCIEDAD -->

            <button class='iigwo' (click)='aprobarComprobantesSeleccionados()' *ngIf='autorizandoPorSociedad'>
                <mat-icon svgIcon="done" *ngIf='comprobantesSeleccionados.length == 1'></mat-icon>
                <mat-icon svgIcon="done-all" *ngIf='comprobantesSeleccionados.length > 1'></mat-icon>
                <label>{{comprobantesSeleccionados.length == 1 ? 'Aprobar comprobante' : 'Aprobar comprobantes'}}</label>
            </button>

            <button class='iigwo' (click)='rechazarComprobantesSeleccionados()' *ngIf="autorizandoPorSociedad">
                <mat-icon svgIcon="close"></mat-icon>
                <label>{{comprobantesSeleccionados.length == 1 ? 'Rechazar comprobante' : 'Rechazar comprobantes'}}</label>
            </button>

            <!-- BOTONES DE AUTORIZADOR POR CENTRO DE COSTO -->

            <button class='iigwo' (click)='aprobarSegregacionesDeComprobantesSeleccionados()'
                *ngIf='autorizandoPorCentroDeCosto'>
                <mat-icon svgIcon="done" *ngIf='comprobantesSeleccionados.length == 1'></mat-icon>
                <mat-icon svgIcon="done-all" *ngIf='comprobantesSeleccionados.length > 1'></mat-icon>
                <label>{{comprobantesSeleccionados.length == 1 ? 'Aprobar segregaciones de comprobante' : 
                    'Aprobar segregaciones de comprobantes'}}</label>
            </button>

            <button class='iigwo' (click)='rechazarSegregacionesDeComprobantesSeleccionados()'
                *ngIf='autorizandoPorCentroDeCosto'>
                <mat-icon svgIcon="close"></mat-icon>
                <label>{{comprobantesSeleccionados.length == 1 ? 'Rechazar segregaciones de comprobante' : 
                'Rechazar segregaciones de comprobantes'}}</label>
            </button>

            <!-- BOTONES DE VIAJERO -->

            <button class='iigwo' (click)='eliminarComprobantesSeleccionados()'
                *ngIf="editando && (viaje.estatus == 'Abierto' || viaje.estatus == 'Rechazado')">
                <mat-icon svgIcon="delete"></mat-icon>
                <label>{{comprobantesSeleccionados.length == 1 ? 'Eliminar comprobante' : 'Eliminar comprobantes'}}</label>
            </button>

        </div>

        <div class='content'>

            <div style="display:flex; flex-flow: row; max-height: 100%;">

                <!-- CABECERA DEL VIAJE -->
                <div style="min-width:320px;margin-right:24px;">

                    <div class="iigwo-input" *ngIf='editando'>
                        <label>número de trayecto</label>
                        <input [(ngModel)]="viaje.noTrayecto" readOnly>
                    </div>

                    <div class="iigwo-input">
                        <label>destino</label>
                        <input [(ngModel)]="viaje.destino" maxlength="3" [readOnly]='!ediandoCamposDeCabecera'>
                    </div>

                    <div class="iigwo-input">
                        <label>esquema</label>
                        <select [(ngModel)]="viaje.esquema" [disabled]='!ediandoCamposDeCabecera'>
                            <option value="Viaje Nacional">Viaje Nacional</option>
                            <option value="Viaje Internacional">Viaje Internacional</option>
                        </select>
                    </div>

                    <div class="iigwo-input">
                        <label>pais</label>
                        <select [(ngModel)]="viaje.pais" [disabled]='!ediandoCamposDeCabecera'>
                            <option value="México">México</option>
                        </select>
                    </div>

                    <div class="iigwo-input">
                        <label>fecha inicio</label>
                        <input [ngModel]="viaje.fechaInicio | date:'yyyy-MM-dd':'':'en'"
                            (ngModelChange)='viaje.fechaInicio=safeYYYYMMDD($event)' type="date"
                            [readOnly]='!ediandoCamposDeCabecera'>
                    </div>

                    <div class="iigwo-input">
                        <label>fecha fin</label>
                        <input [ngModel]="viaje.fechaFin | date:'yyyy-MM-dd':'':'en'"
                            (ngModelChange)='viaje.fechaFin=safeYYYYMMDD($event)' type="date"
                            [readOnly]='!ediandoCamposDeCabecera'>
                    </div>

                    <div class="iigwo-input">
                        <label>salida desde</label>
                        <select [(ngModel)]="viaje.salidaDesde" [disabled]='!ediandoCamposDeCabecera'>
                            <option value="Oficina">Oficina</option>
                            <option value="Residencia">Residencia</option>
                        </select>
                    </div>

                    <div class="iigwo-input">
                        <label>motivo</label>
                        <input [(ngModel)]="viaje.motivo" [readOnly]='!ediandoCamposDeCabecera'>
                    </div>

                    <div class="iigwo-input">
                        <label>tipo de viaje</label>
                        <select [(ngModel)]="viaje.tipoViaje" [disabled]='!ediandoCamposDeCabecera'>
                            <option *ngFor='let t of tiposViaje' [ngValue]="t">{{t.descripcion}}</option>
                        </select>
                    </div>

                    <div class="iigwo-input" *ngIf="viaje.tipoViaje && viaje.tipoViaje.tipoAnticipo">
                        <label>Numero de anticipo</label>
                        <input [(ngModel)]="viaje.numeroAnticipo" [readOnly]='!ediandoCamposDeCabecera'>
                    </div>

                    <div class="iigwo-input">
                        <label>comentarios</label>
                        <textarea [(ngModel)]="viaje.comentarios" [readOnly]='!ediandoCamposDeCabecera'></textarea>
                    </div>

                    <hr style="margin: 12px 12px 12px 0;"
                        *ngIf="editando && (viaje.estatus == 'Abierto' || viaje.estatus == 'Rechazado')">

                    <!-- BOTONES CABECERA DE NUEVO VIAJE -->
                    <div *ngIf="creando">
                        <button class='iigwo' (click)='cancelar()'>
                            <label i18n="@@Cancelar">Cancelar</label>
                        </button>
                        <button class='accent iigwo' (click)='crear()'>
                            <label>Crear nuevo viaje</label>
                        </button>
                    </div>

                    <!-- BOTONES CABECERA DE VIAJE EXISTENTE -->
                    <div *ngIf="editando && (viaje.estatus == 'Abierto' || viaje.estatus == 'Rechazado')">
                        <button class='iigwo primary' *ngIf='!ediandoCamposDeCabecera'
                            (click)='ediandoCamposDeCabecera=true'>
                            <label>Editar campos de cabecera</label>
                        </button>
                        <button class='iigwo' *ngIf='ediandoCamposDeCabecera'
                            (click)='ediandoCamposDeCabecera=false;this.actualizarViaje()'>
                            <label i18n="@@Cancelar">Cancelar</label>
                        </button>
                        <button class='accent iigwo' *ngIf='ediandoCamposDeCabecera' (click)='guardar()'>
                            <label>Guardar cambios de cabecera</label>
                        </button>
                    </div>

                </div>

                <!-- PANEL DERECHA -->
                <div style="
                    flex-flow: column;
                    display: flex;
                    overflow: auto;
                ">

                    <!-- TEXTO AYUDA (CREANDO) -->
                    <div *ngIf='creando'>
                        <h4 style="margin: 0 0 12px 0" *ngIf='!editando'>Llena los campos</h4>
                        <p style="margin-top: -6px; margin-bottom: 18px; font-size: 13px;" *ngIf='!editando'>
                            Llena los campos de la cabecera y al terminar presiona
                            <b>Crear nuevo viaje</b>. Una vez creado el viaje podrás agregar comprobantes.
                        </p>
                    </div>

                    <!-- TEXTO AYUDA (EDITANDO) -->
                    <div *ngIf="editando && viaje && (viaje.estatus == 'Abierto' || viaje.estatus == 'Rechazado')">
                        <h4 style="margin: 0 0 12px 0"
                            *ngIf='editando && viaje.comprobantes && viaje.comprobantes.length > 1'>
                            {{viaje.comprobantes.length}} comprobantes cargados</h4>
                        <h4 style="margin: 0 0 12px 0"
                            *ngIf='editando && viaje.comprobantes && viaje.comprobantes.length == 1'>
                            Un comprobante cargado</h4>
                        <h4 style="margin: 0 0 12px 0"
                            *ngIf='editando && (!viaje.comprobantes || viaje.comprobantes.length == 0)'>
                            Cargue sus comprobantes</h4>
                        <p style="margin-top: -6px; margin-bottom: 18px; font-size: 13px;" *ngIf='editando'>
                            Presione el botón <b>agregar comprobante</b> en la barra de herramientas de arriba para
                            agregar
                            comprobantes a su viaje.
                        </p>
                    </div>

                    <!-- TEXTO AYUDA (EDITANDO UN VIAJE POR AUTORIZAR) -->
                    <div *ngIf="editando && viaje && viaje.estatus == 'Por Autorizar'">
                        <h4 style="margin: 0 0 12px 0">
                            Espere a que el autorizador resuelva el viaje</h4>
                        <p style="margin-top: -6px; margin-bottom: 18px; font-size: 13px;">
                            El viaje está en proceso de ser aprobado. Es responsabilidad del autorizador de gastos de
                            viaje aprobar o rechazar el viaje.
                        </p>
                    </div>

                    <!-- TEXTO AYUDA (autorizandoPorSociedad) -->
                    <div *ngIf='autorizandoPorSociedad'>
                        <h4 style="margin: 0 0 12px 0">Revise los comprobantes</h4>
                        <p style="margin-top: -6px; margin-bottom: 18px; font-size: 13px;">
                            Revise cada uno de los comprobantes y apruebe o rechacelos segun corresponda
                        </p>
                    </div>

                    <!-- VISTA DE TABLA -->
                    <div class="iigwo-search-space" style="
                            overflow-y: auto;
                            border-top: solid 1px rgba(0,0,0,0.1);"
                        *ngIf='editando && viaje.comprobantes && viaje.comprobantes.length || autorizandoPorSociedad || autorizandoPorCentroDeCosto || autorizandoAutorizador'>
                        <table>
                            <tr>
                                <th class=''></th>
                                <th class='accent'>Id Comprobante</th>
                                <th class='' i18n="@@Estatus">Estatus</th>
                                <th class=''>Clase gasto</th>
                                <th class=''>Moneda</th>
                                <th class='number'>Total</th>
                                <th class='number'>Subtotal</th>
                                <th class='number'>IVA</th>
                                <th class='number'>ISR</th>
                                <th class='number'>ISH</th>
                                <th class='number'>TUA</th>
                                <th class='number'>IEPS</th>
                                <th class=''>Fecha</th>
                                <th class=''>Deducible</th>
                                <th class=''>PDF</th>
                                <th class=''>XML</th>
                            </tr>

                            <tbody *ngFor='let e of viaje.comprobantes' (click)="seleccionar(e)"
                                [ngClass]="{selectedRow: e.seleccionado, hideSegregaciones: !e.expandido}">

                                <tr>
                                    <td>
                                        <button class="iigwo small" style="padding:0" style="margin: 0"
                                            (click)="e.expandido = !e.expandido; $event.stopPropagation();">
                                            <mat-icon [svgIcon]="e.expandido ? 'remove' : 'add'"></mat-icon>
                                        </button>
                                    </td>
                                    <td class='accent'><a routerLink='comprobantes/{{e.idComprobante}}'>Comprobante
                                            {{e.idComprobante}}</a></td>
                                    <td class='accent'>{{e.estatus}}</td>
                                    <td class='accent'>{{e.claseGasto}}</td>
                                    <td class='accent'>{{e.moneda}}</td>
                                    <td class='number accent'>{{e.total | number: '1.2-2':'en'}}</td>
                                    <td class='number accent'>{{e.subtotal | number: '1.2-2':'en'}}</td>
                                    <td class='number accent'>{{e.iva | number: '1.2-2':'en'}}</td>
                                    <td class='number accent'>{{e.isr | number: '1.2-2':'en'}}</td>
                                    <td class='number accent'>{{e.ish | number: '1.2-2':'en'}}</td>
                                    <td class='number accent'>{{e.tua | number: '1.2-2':'en'}}</td>
                                    <td class='number accent'>{{e.ieps | number: '1.2-2':'en'}}</td>
                                    <td class='accent'>{{e.fecha | date:'dd/MM/yyyy'}}</td>
                                    <td class='accent'>{{e.deducible}}</td>
                                    <td class=''>-</td>
                                    <td class=''>-</td>
                                </tr>

                                <tr *ngFor='let s of e.segregacions'>
                                    <td colspan="2"></td>
                                    <td>{{s.estatus}}</td>
                                    <td class="number">{{s.centroCosto}}</td>
                                    <td>{{e.moneda}}</td>
                                    <td></td>
                                    <td class="number">{{s.importeSegregado}}</td>
                                    <td colspan="9"></td>
                                </tr>

                            </tbody>

                            <tr class="" style="font-family:bold;">
                                <td class=''></td>
                                <td class=''></td>
                                <td class=''></td>
                                <td class='accent'>Total</td>
                                <td class='accent'>MXN</td>
                                <td class='number accent'>{{totalgv.total | number: '1.2-2':'en'}}</td>
                                <td class='number accent'>{{totalgv.subtotal | number: '1.2-2':'en'}}</td>
                                <td class='number accent'>{{totalgv.iva | number: '1.2-2':'en'}}</td>
                                <td class='number accent'>{{totalgv.isr | number: '1.2-2':'en'}}</td>
                                <td class='number accent'>{{totalgv.ish | number: '1.2-2':'en'}}</td>
                                <td class='number accent'>{{totalgv.tua | number: '1.2-2':'en'}}</td>
                                <td class='number accent'>{{totalgv.ieps | number: '1.2-2':'en'}}</td>
                                <td class=''></td>
                                <td class=''></td>
                                <td class=''></td>
                                <td class=''></td>
                            </tr>

                        </table>
                    </div>

                    <!-- TEXTO AYUDA (EDITAR) -->
                    <p style="margin-top: 6px; margin-bottom: 18px; font-size: 13px;"
                        *ngIf="editando && viaje.comprobantes && viaje.comprobantes.length && (viaje.estatus == 'Abierto' || viaje.estatus == 'Rechazado')">
                        Cuando haya cargado todos sus comprobantes presione el botón <b>solicitar
                            autorización</b>.
                    </p>

                </div>

            </div>
        </div>

        <!--Cargando-->
        <div class='iigwo-loading' *ngIf="loading">
            <mat-spinner></mat-spinner>
        </div>

    </div>
</div>