@import '../../../theme.scss';

td {
    cursor: pointer;
}

.selectedRow {
    button.iigwo {
        background: none;
        border-color: #fff3;
    }
}

.selectedRow td {
    background: mat-color($app-accent);
    color:white;
}

.selectedRow td a {
    color:white;
}

td button.iigwo.small {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    min-width: 0;
    min-height: 0;
}

.hideSegregaciones tr {
    display: none;
}

.hideSegregaciones tr:first-of-type {
    display: table-row;
}